<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
            <h3 class="panel-heading">Objectius</h3>
            <div class="panel-body">
                <p>El grup de recerca en Patologia Oncològica i Bioinformàtica constitueix una plataforma específica per a activitats d’investigació directes amb dos objectius fonamentals: </p>

                <ul class="list-group">
                    <li class="list-group-item">
                        Identificar patrons de resposta immune i de factors etiològics, fisiopatogènics i pronòstics lligats a models de progressió de neoplàsies.
                    </li>
                    <li class="list-group-item">
                        Desenvolupar i perfeccionar nous suports informàtics d’anàlisi d’imatge assistit per ordinador per permetre una quantificació automatitzada més precisa i reproduïble d’aquests marcadors cel·lulars.
                    </li>
                </ul>

                <p>El grau d’implicació d’aquests patrons en els mecanismes d’escapament tumoral i en la utilitat terapèutica s’estan avaluant al mateix temps que la descripció de patrons dels virus oncogènics implicats en el desenvolupament d’aquestes neoplàsies. </p>

                <p>
                    Aquests objectius poden ajudar a entendre els mecanismes biològics implicats en la resistència a la quimioteràpia i l’obtenció de noves dianes terapèutiques capaces d’intervenció, a més de la constitució de nous factors claus en el diagnòstic, pronòstic i tractament d’aquests pacients
                </p>
            </div>
    </div>

    <div class="panel panel-default" id="liniesrecerca">
        <h3 class="panel-heading">Línies de recerca</h3>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item">
                    Estudi de la cel·lularitat limfoide reactiva i la resposta immune en síndromes limfoproliferatives. Estudi de les implicacions pronòstiques i els mecanismes d’escapament tumoral.
                </li>
                <li class="list-group-item">
                    Potencial oncogènic de virus en limfomes: anàlisi de l’expressió cel·lular de virus amb potencial oncogènic en biòpsies de limfomes i la seva correlació serològica.
                </li>
                <li class="list-group-item">
                    Morfometria i informàtica aplicada: desenvolupament de patrons d’anàlisi d’imatges digitals assistida per ordinador per avaluar quantitativament de manera automatitzada marcadors específics de subpoblacions cel·lulars tumorals i de resposta immune amb tincions immunohistoquímiques i de fluorescència.
                </li>
                <li class="list-group-item">
                    Avaluació de patrons de marcadors cel·lulars oncològics, resposta immune i supervivència en càncer de mama.
                </li>
            </ul>

        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>