<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Project Name</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="includeNavbar"></div>

<div class="container">

    <div class="row" id="primer">
        <div class="col-md-8 col-md-offset-2 media-video">
            <h5>Lliurament de les beques i dels accessits de la Fundació Dr. Ferran 2013. <span class="text-muted">Patrons de resposta immune en els carcinomes ductals infiltrants de mama Luminal A i triple-negatius. Resultats</span></h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HzHB6khTA20" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-8 col-md-offset-2 media-video">
            <h5>Carlos López i altres investigadors de l'Hospital Verge de la Cinta, al #PrimeraColumna.</h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mkt6cuvIr7Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" >
        <div class="col-md-8 col-md-offset-2 media-video">
            <h5>Lliurament de les beques i dels accessits de la Fundació Dr. Ferran 2012. <span class="text-muted">Patrons de resposta immune en els carcinomes ductals infiltrants de mama Luminal A i triple-negatius. Presentació projecte.</span></h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/t5iBc1NEPus" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" >
        <div class="col-md-8 col-md-offset-2 media-video">
            <h5>Portal informatiu de TV3/324 del 8 de febrer del 2012. <span class="text-muted">Un estudi permetrà comparar les defenses de dones amb tumors mamaris i d’altres amb metàstasi.</span></h5>
            <a target="_blank" href="http://www.ccma.cat/324/Un-estudi-permetra-comparar-les-defenses-de-dones-amb-tumors-mamaris-i-daltres-amb-metastasi/noticia/1586772/">See more</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" >
        <div class="col-md-8 col-md-offset-2 media-video">
            <h5>Diari “ABC.es” del 2 de febrer del 2012. <span class="text-muted">Un estudio del hospital de Tortosa evalúa las defensas en mujeres con càncer de mama y metástasis.</span></h5>
            <a target="_blank" href="http://agencias.abc.es/agencias/noticia.asp?noticia=1098631">See more</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" >
        <div class="col-md-8 col-md-offset-2 media-video">
            <h5>Revista digital “riberaonline” del 7 de febre del 2012. <span class="text-muted">Un estudi avalua les defenses en dones amb tumors exclusivament mamaris i amb metàstasi.</span></h5>
            <a target="_blank" href="http://rol-riberaonline.blogspot.com.es/2012/02/un-estudi-avalua-les-defenses-en-dones.html">See more</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>