<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Research projects</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <h3 class="panel-heading projecte">Atrial fibrillation research in Catalonia (AFRICAT): sequential clinic-electro-biological screening among high risk individuals.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Joan Montaner Vilallonga, Josep Lluis Clua Espuny, Angel Alonso Pedrote Martínez. </p>
            <p>FINANCING ORGANIZATION: Fundació La Marató de TV3.</p>
            <p>OFFICIAL CODE: 275/C/2015 </p>
            <p>EXECUTION TERM: 2016-2018</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">R-GDP with Lenalidomide (R2-GDP) in patients with relapsed or refractory diffuse large B cell lymphoma (r/r DLBCL) not suitable for high dose therapy and stem-cell transplantation.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Luis de la Cruz Merino. </p>
            <p>FINANCING ORGANIZATION: CELGENE SL / GOTEL.</p>
            <p>OFFICIAL CODE:  RV-CL-DLCBL-GOTEL-003867 </p>
            <p>EXECUTION TERM: 2014-2018</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Análisis automatizado de biomarcadores del microambiente tumoral en cáncer de mama triple negativo sin respuesta patológica completa al la neoadyuvancia. Factores predictivos de recaída.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Marylène Lejeune. </p>
            <p>FINANCING ORGANIZATION: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI13/02501 </p>
            <p>AMOUNT GRANTED: 36.602,50 €</p>
            <p>EXECUTION TERM: 2014-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Redes temáticas de investigación cooperativa en Càncer. Programa 7 “Otros tumores sólidos y pediátricos
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Samuel Navarro Fos (Fundación Hospital Clínico Universitario de Valencia, INCLIVA)</p>
            <p>RESEARCH COLLABORATORS: Marylène Lejeune, Carlos López, Tomás Álvaro</p>
            <p>FINANCING ORGANIZATION: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: RD12/0036/0020</p>
            <p>AMOUNT GRANTED: 63.250,00€</p>
            <p>EXECUTION TERM: 2014-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">R-GDP with Lenalidomide (R2-GDP) in patients with relapsed or refractory diffuse large B cell lymphoma (r/r DLBCL) not suitable for high dose therapy and stem-cell transplantation
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Luis de la Cruz Merino (Hospital Universitario la Macarena de Sevilla)</p>
            <p>RESEARCH COLLABORATORS: Marylène Lejeune, Tomás Álvaro</p>
            <p>FINANCING ORGANIZATION: Celgene</p>
            <p>OFFICIAL CODE: RV-CL-DLBCL-GOTEL-003867</p>
            <p>AMOUNT GRANTED: 425.000,00€</p>
            <p>EXECUTION TERM: 2014-2018</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Grup de patologia oncològica i bioinformàtica.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION: AGAUR (Agència de Gestió d’Ajuts Universitaris i de Recerca).</p>
            <p>OFFICIAL CODE: 2014 SGR 1614</p>
            <p>EXECUTION TERM: 2014-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Consens de Resultats Críticis del Laboratori (CRICS)
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Maribel Llovet Lombarte.</p>
            <p>FINANCING ORGANIZATION: Instituto de Investigación en Atención Primária Jordi Gol (IDIAP).</p>
            <p>OFFICIAL CODE: 4R15/007</p>
            <p>EXECUTION TERM: 2015-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Supporting software to assist pathologist in evaluation of immunohistochemically stained tissue samples of breast cancer stained with DAB&H
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Lukasz Roszkowiak.</p>
            <p>FINANCING ORGANIZATION: Polish National Science Center.</p>
            <p>OFFICIAL CODE: 2013/11/NST7/02797</p>
            <p>EXECUTION TERM: 2014-2017</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Red Tematica de Investigación cooperativa contra el cancer (RETICC): Program 7: Other solid and pediatric tumors
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Samuel Navarro Fos.</p>
            <p>FINANCING ORGANIZATION: Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: RD12/0036/0020</p>
            <p>EXECUTION TERM: 2013-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">La valoració i la planificació de cures d'infermeria en la prevenció i maneig del pacient amb risc de confusió aguda
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Elena Solà Miravete.</p>
            <p>FINANCING ORGANIZATION: Fundació Doctor Ferran.</p>
            <p>EXECUTION TERM: 2014-2015</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Avaluació dels nivells d'estrès oxidatiu en càncer de mama: relació amb els patrons de resposta immune i la supervivència
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Carlos López Pablo.</p>
            <p>FINANCING ORGANIZATION: Fundació Doctor Ferran.</p>
            <p>OFFICIAL CODE: FF2014</p>
            <p>EXECUTION TERM: 2014-2015</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Desarrollo de metodologías automatizadas para establecer patrones de respuesta inmune mediante la cuantificación de marcadores inmunohistoquímicos en cáncer de mama.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Carlos López Pablo.</p>
            <p>RESEARCH COLLABORATORS: Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI11/00488</p>
            <p>AMOUNT GRANTED: 34.463,22 €</p>
            <p>EXECUTION TERM: 2012-2014</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Patrones de respuesta inmune en los carcinomas ductales infiltrantes de mama Luminal A y triple-negativos.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Cristina Callau Casanova.</p>
            <p>RESEARCH COLLABORATORS: Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION: Fundació Dr. Ferran.</p>
            <p>AMOUNT GRANTED: 3.000 €</p>
            <p>EXECUTION TERM: 2012-2013</p>
            <p>Project managed by Fundació Dr. Ferran.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Modelo in silico de la hiperestructura de los tumores neuroblásticos. Integración génica, microscópica y clínica.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Dra. Rosa Noguera (Universitat de València).</p>
            <p>RESEARCH COLLABORATORS: Tomás Álvaro Naranjo i Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION:  Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI10/00015</p>
            <p>AMOUNT GRANTED: 220.980 €</p>
            <p>EXECUTION TERM: 2011-2013</p>
            <p>Project managed by Universitat de València.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Relació entre la Dieta mediterrània i la insuficiència renal crònica en pacients diabètics tipus 2 de l'àmbit del grup Ir-diabev.</h3>
        <div class="panel-body">
            <p>RESEARCHERS: Dra. Miriam Boira.</p>
            <p>RESEARCH COLLABORATORS: Carlos López Pablo i Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION: Fundació Dr. Ferran.</p>
            <p>AMOUNT GRANTED: 3.000 €</p>
            <p>EXECUTION TERM: 2011-2012</p>
            <p>Project managed by Fundació Dr. Ferran.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Efectivitat de la implementació d'una guia de prescripció d'hipolipemiants consensuada entre atenció primària i hospital sobre el control del colesterol LDL en cardiopatia isquèmica.</h3>
        <div class="panel-body">
            <p>RESEARCHERS: Maria Rosa Dalmau Llorca.</p>
            <p>FINANCING ORGANIZATION: Agència d'Avaluació de Tecnologia i Recerca Mèdiques. Servei Català de la Salut.</p>
            <p>EXECUTION TERM: 2010-2012</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Caracterització de patrons de resposta immune intratumoral en els càncers mamaris d'interval i en els detectats en el programa de detecció precoç de càncer de mama de la província de Tarragona.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION: Institut Català de les Dones.</p>
            <p>OFFICIAL CODE: PF-121/10</p>
            <p>AMOUNT GRANTED: 9.207,32 €</p>
            <p>EXECUTION TERM: 2010-2011</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Grup de Recerca en Patologia Oncològica i Bioinformàtica.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Marylène Lejeune.</p>
            <p>FINANCING ORGANIZATION: AGAUR (Agència de Gestió d’Ajuts Universitaris i de Recerca).</p>
            <p>OFFICIAL CODE: 2009 SGR 1544</p>
            <p>EXECUTION TERM: 2009-2013</p>
            <p>Project managed by Universitat Rovira i Virgili.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Desarrollo de algoritmos informáticos para cuantificación inmunohistoquímica de dianas moleculares y marcadores pronósticos en cáncer de mama.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Joaquín Jaén Martínez.</p>
            <p>FINANCING ORGANIZATION: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI08/0796</p>
            <p>AMOUNT GRANTED: 63.767 €</p>
            <p>EXECUTION TERM: 2009-2011</p>
            <p>Project managed by Fundació Dr. Ferran.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">COST-Action IC0604 Telepathology Network in Europe: EURO-TELEPATH
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Marcial Garcia Rojo.</p>
            <p>FINANCING ORGANIZATION: VII Programa Marc.</p>
            <p>EXECUTION TERM: 2007-2011</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Automatización de la detección de dianas moleculares marcadas con hibridación in situ de fluorescencia mediante análisis de imagen en cáncer de mama.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Ramon Bosch Príncep.</p>
            <p>FINANCING ORGANIZATION: Fundación Mutua Madrileña.</p>
            <p>OFFICIAL CODE: AP28862008</p>
            <p>EXECUTION TERM: 2008-2009</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Análisis de la expresión celular de virus con potencial oncogénico en biopsias de linfomas y su correlación serológica. Estudio in situ sobre matrices de tejidos.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Ramon Bosch Princep.</p>
            <p>FINANCING ORGANIZATION: Fondo de Investigación Sanitaria. Ayudas para proyectos de investigación del área de Ciencias de la Salud.</p>
            <p>OFFICIAL CODE: PI041467</p>
            <p>EXECUTION TERM: 2005-2008</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Desarrollo de patrones de análisis de imágenes digitales asistido por ordenador: Evaluación cuantitativa semiautomática de técnicas inmunohistoquímicas.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Joaquín Jaén Martínez.</p>
            <p>FINANCING ORGANIZATION: FIS- Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI 04/1440</p>
            <p>EXECUTION TERM: 2005-2007</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Estudio de celularidad linfoide reactiva y respuesta inmune en síndromes linfoproliferativos. Implicaciones pronósticas y mecanismos de escape tumoral.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Tomás Álvaro Naranjo.</p>
            <p>FINANCING ORGANIZATION: FIS- Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI 05/0474</p>
            <p>EXECUTION TERM: 2006-2006</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Estudio de celularidad linfoide reactiva y respuesta inmune en síndromes linfoproliferativos. Implicaciones pronósticas y mecanismos de escape tumoral.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Tomás Álvaro Naranjo.</p>
            <p>FINANCING ORGANIZATION: FIS- Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: PI 05/0474</p>
            <p>EXECUTION TERM: 2006-2006</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Red temática de investigación cooperativa "Clasificación molecular de los procesos linfoproliferativos": Estudio de celularidad linfoide reactiva y respuesta inmune en síndromes linfoproliferativos. Implicaciones pronósticas y mecanismos de escape tumoral.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Tomás Álvaro Naranjo.</p>
            <p>FINANCING ORGANIZATION: FIS- Instituto de Salud Carlos III.</p>
            <p>OFFICIAL CODE: G03/179</p>
            <p>EXECUTION TERM: 2002-2005</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Analisis de la expresión de marcadores sobre celularidad linfoide reactiva y a compañante en linfoma de Hodgkin: Estudio de mecanismos de escape tumoral.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Tomás Álvaro Naranjo.</p>
            <p>FINANCING ORGANIZATION: Instituto de Salud Carlos III. Área ANEP de biomedicina</p>
            <p>OFFICIAL CODE: PI021367</p>
            <p>EXECUTION TERM: 2002-2005</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Utilización de células dendríticas mieloides autólogas como adyuvante celular para una vacuna terapéutica contra el virus de la inmunodeficiencia humana tipo 1 (VIH-1) en pacientes en estadios tempranos de la infección tratados con terapia antiretroviral de gran actividad (TARGA).
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Dr. JM Gatell Artigas / Dra. Teresa Gallart.</p>
            <p>FINANCING ORGANIZATION: Fundació La Marató de TV3</p>
            <p>OFFICIAL CODE: Marató de TV3. Sida 2001</p>
            <p>EXECUTION TERM: 2002-2004</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Supresión de la profilaxis primaria y secundaria frente a T. gondii (Tg) en los pacientes coinfectados por el VIH y Tg que han recuperado su inmunidad con terapia antiviral que incluya inhibidores de la proteasa. Estudio de la respuesta in vitro de los linfocitos T frente a Tg y su posible aplicación clínica para evaluar la bioseguridad de la supresión de la profilaxis secundaria.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Dr. José Maria Miró Meda.</p>
            <p>FINANCING ORGANIZATION: Fundación para la Investigación y Prevención del SIDA en España (FIPSE)</p>
            <p>OFFICIAL CODE: FIPSE 99/2010</p>
            <p>EXECUTION TERM: 2000-2002</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Respuesta y recuperación inmunológica tras tratamiento antiretroviral.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Dr. José Maria Gatell.</p>
            <p>FINANCING ORGANIZATION: MINECO</p>
            <p>OFFICIAL CODE: SAF 98/0021</p>
            <p>EXECUTION TERM: 1999-2001</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">A prospective, open-label, phase 2, exvivo study to determine the optimum dose of Filgrastim to reverse neutrophil function déficit in patients with advanced HIV infection.
        </h3>
        <div class="panel-body">
            <p>RESEARCHERS: Nathan Clumeck / Brigitte Cantinieaux.</p>
            <p>FINANCING ORGANIZATION: AMGEN, S.A</p>
            <p>OFFICIAL CODE: G-CSF 960109</p>
            <p>EXECUTION TERM: 1996-1998</p>
        </div>
    </div>


    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>