<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Projectes de recerca</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <h3 class="panel-heading projecte">Análisis automatizado de biomarcadores del microambiente tumoral en cáncer de mama triple negativo sin respuesta patológica completa al la neoadyuvancia. Factores predictivos de recaída.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Marylène Lejeune. </p>
            <p>ENTITAT FINANÇADORA: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>EXPEDIENT: PI13/02501 </p>
            <p>IMPORT CONCEDIT: 36.602,50 €</p>
            <p>PERÍODE D'EXECUCIÓ: 2014-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Redes temáticas de investigación cooperativa en Càncer. Programa 7 “Otros tumores sólidos y pediátricos
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Samuel Navarro Fos (Fundación Hospital Clínico Universitario de Valencia, INCLIVA)</p>
            <p>INVESTIGADORS COL·LABORADORS: Marylène Lejeune, Carlos López, Tomás Álvaro</p>
            <p>ENTITAT FINANÇADORA: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>EXPEDIENT: RD12/0036/0020</p>
            <p>IMPORT CONCEDIT: 63.250,00€</p>
            <p>PERÍODE D'EXECUCIÓ: 2014-2016</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">R-GDP with Lenalidomide (R2-GDP) in patients with relapsed or refractory diffuse large B cell lymphoma (r/r DLBCL) not suitable for high dose therapy and stem-cell transplantation
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Luis de la Cruz Merino (Hospital Universitario la Macarena de Sevilla)</p>
            <p>INVESTIGADORS COL·LABORADORS: Marylène Lejeune, Tomás Álvaro</p>
            <p>ENTITAT FINANÇADORA: Celgene</p>
            <p>EXPEDIENT: RV-CL-DLBCL-GOTEL-003867</p>
            <p>IMPORT CONCEDIT: 425.000,00€</p>
            <p>PERÍODE D'EXECUCIÓ: 2014-2018</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Desarrollo de metodologías automatizadas para establecer patrones de respuesta inmune mediante la cuantificación de marcadores inmunohistoquímicos en cáncer de mama.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Carlos López Pablo.</p>
            <p>INVESTIGADORS COL·LABORADORS: Marylène Lejeune.</p>
            <p>ENTITAT FINANÇADORA: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>EXPEDIENT: PI11/0488</p>
            <p>IMPORT CONCEDIT: 34.463,22 €</p>
            <p>PERÍODE D'EXECUCIÓ: 2012-2014</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte"> Patrones de respuesta inmune en los carcinomas ductales infiltrantes de mama Luminal A y triple-negativos.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Cristina Callau Casanova.</p>
            <p>INVESTIGADORS COL·LABORADORS: Marylène Lejeune.</p>
            <p>ENTITAT FINANÇADORA: Fundació Dr. Ferran.</p>
            <p>IMPORT CONCEDIT: 3.000 €</p>
            <p>PERÍODE D'EXECUCIÓ: 2012-2013</p>
            <p>Projecte gestionat per la Fundació Dr. Ferran.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte"> Modelo in silico de la hiperestructura de los tumores neuroblásticos. Integración génica, microscópica y clínica.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Dra. Rosa Noguera (Universitat de València).</p>
            <p>INVESTIGADORS COL·LABORADORS: Tomás Álvaro Naranjo i Marylène Lejeune.</p>
            <p>ENTITAT FINANÇADORA:  Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>EXPEDIENT: PI10/00015</p>
            <p>IMPORT CONCEDIT: 220.980 €</p>
            <p>PERÍODE D'EXECUCIÓ: 2011-2013</p>
            <p>Projecte gestionat per  la Universitat de València.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte"> Relació entre la Dieta mediterrània i la insuficiència renal crònica en pacients diabètics tipus 2 de l'àmbit del grup Ir-diabev.</h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Dra. Miriam Boira.</p>
            <p>INVESTIGADORS COL·LABORADORS: Carlos López Pablo i Marylène Lejeune.</p>
            <p>ENTITAT FINANÇADORA: Fundació Dr. Ferran.</p>
            <p>IMPORT CONCEDIT: 3.000 €</p>
            <p>PERÍODE D'EXECUCIÓ: 2011-2012</p>
            <p>Projecte gestionat per la Fundació Dr. Ferran.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte"> Caracterització de patrons de resposta immune intratumoral en els càncers mamaris d'interval i en els detectats en el programa de detecció precoç de càncer de mama de la província de Tarragona.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Marylène Lejeune.</p>
            <p>ENTITAT FINANÇADORA: Institut Català de les Dones.</p>
            <p>EXPEDIENT: PF-121/10</p>
            <p>IMPORT CONCEDIT: 9.207,32 €</p>
            <p>PERÍODE D'EXECUCIÓ: 2010-2011</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Grup de Recerca en Patologia Oncològica i Bioinformàtica.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Marylène Lejeune.</p>
            <p>ENTITAT FINANÇADORA: AGAUR (Agència de Gestió d’Ajuts Universitaris i de Recerca).</p>
            <p>EXPEDIENT: 2009 SGR 1544</p>
            <p>PERÍODE D’EXECUCIÓ: 2009-2013</p>
            <p>Projecte gestionat per la Universitat Rovira i Virgili.</p>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading projecte">Desarrollo de algoritmos informáticos para cuantificación inmunohistoquímica de dianas moleculares y marcadores pronósticos en cáncer de mama.
        </h3>
        <div class="panel-body">
            <p>INVESTIGADOR PRINCIPAL: Joaquín Jaén Martínez.</p>
            <p>ENTITAT FINANÇADORA: Fondo de Investigación Sanitaria. Instituto de Salud Carlos III.</p>
            <p>EXPEDIENT: PI08/0796</p>
            <p>IMPORT CONCEDIT: 63.767 €</p>
            <p>PERÍODE D’EXECUCIÓ: 2009-2011</p>
            <p>Projecte gestionat per la Fundació Dr. Ferran.</p>
        </div>
    </div>


    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>