<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Publicacions</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item publicacio">
                    <span class="fort">Callau C, Lejeune M, Korzynska A, García M, Bueno G, Bosch R, Jaén J, Orero G, Salvadó T, López C</span> <a href="https://biomedical-engineering-online.biomedcentral.com/articles/10.1186/1475-925X-14-S2-S2">Evaluation of cytokeratin-19 in breast cancer tissue samples: A comparison of automatic and manual evaluations of scanned tissue microarray cylinders.</a><span class="cursiva"> Biomedical Engineering Online , 2016;14(2): 13.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Salvadó MT, Bosch R, Navas N, Pons L, Lejeune M, López C, Orero G, Álvaro T.</span> <a href="http://www.elsevier.es/es-revista-revista-senologia-patologia-mamaria-131-articulo-estudio-comparativo-supervivencia-del-cancer-S0214158215001188">Estudio comparativo de la supervivencia del cáncer de mama según diagnóstico asistencial versus programa de detección precoz. Comparison of breast cancer survival by diagnosis in the clinical setting versus screening.</a><span class="cursiva"> Revista de Senología y Patología Mamaria , 2016;29(1): 13-18.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Montesó Curto P, Ferré-Grau C, Lleixà-Fortuño M, Albacar-Riobóo N, Lejeune M.</span> <a href="http://www.sciencedirect.com/science/article/pii/S0883941713001209">Diagnosed, identified, current and complete depression among patients attending Primary care in Southern Catalonia: different aspects of the same concept.</a><span class="cursiva"> Archives of Psychiatric Nursing Archives of psychiatric and mental health nursing. JCR , 2014;28(1): 50-54.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Callau C, Bosch R, Korzynska A, Jaén J, García-Rojo M, Bueno G, Salvadó MT, Alvaro T, Oños M, Fernández-Carrobles Mdel M, Llobera M, Baucells J, Orero G, Lejeune M.</span> <a href="http://bmjopen.bmj.com/content/4/8/e005643.long">Development of automated quantification methodologies of immunohistochemical markers to determine patterns of immune response in breast cancer: a retrospective cohort study.</a><span class="cursiva"> Bmj Open , 2014;8: 13.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Gestí V, Tomás B, Korzynska A, Roso A, Callau C, Bosch R, Baucells J, Jaén J, Lopez C.</span> <a href="https://www.researchgate.net/publication/258104967_A_multistep_image_analysis_method_to_increase_automated_identification_efficiency_in_immunohistochemical_nuclear_markers_witha_high_background_level">A multistep image analysis method to increase automated identification efficiency in immunohistochemical nuclear markers with a high background level.</a><span class="cursiva"> Diagnostic Pathology , 2013;8: 13.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Korzynska A, Roszkowiak L, Lopez C, Bosch R, Witkowski L, Lejeune M.</span> <a href="https://diagnosticpathology.biomedcentral.com/articles/10.1186/1746-1596-8-48">Validation of various adaptive threshold methods of segmentation applied to follicular lymphoma digital images stained with 3,3'-Diaminobenzidine & Haematoxylin.</a><span class="cursiva"> Diagnostic Pathology , 2013;8: 48.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Tomás B, Korzynska A, Bosch R, Salvadó MT, Llobera M, Garcia-Rojo M, Alvaro T, Jaén J, Lejeune M.</span> <a href="https://academic.oup.com/ajcp/article-lookup/doi/10.1309/AJCPPXLYJVFGOV8I">Is It Necessary to Evaluate Nuclei in HER2 FISH Evaluation?</a><span class="cursiva"> American Journal of Clinical Pathology , 2013;139: 47-54.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Nueman U, Korzynska A, López C, Lejeune M, Roszkowiak L, Bosch R.</span> <a href="http://www.sciencedirect.com/science/article/pii/S0208521613700561">Equalisation of archival microscopic images from immunohistochemical stained tissue section.</a><span class="cursiva"> Biocybernetics And Biomedical Engineering , 2013;33: 63-76.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">De la Cruz-Merino L, Lejeune M, Nogales-Fernández E, Henao-Carrasco F, Grueso-López A, Illescas-Vacas A, Provencio-Pulla M, Callau C, Álvaro T.</span> <a href="https://www.hindawi.com/journals/jir/2012/756353/">Role of immune escape mechanisms in Hodgkin's lymphoma development and progression: a whole new world with therapeutic implications.</a><span class="cursiva"> Clinical & Developmental Immunology , 2012: 756353.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ortin X, Giralt M, Romeu M, Lejeune M, Nogues MR, Sanchez-Martos V, Rodriguez-Luaces M, Sans T, Font Ll.</span> <a href="http://www.thejh.org/index.php/jh/article/view/34/32">Oxidative stress in patients with early stage chronic lymphocytic leukemia, assessment and correlation with prognostic factors.</a><span class="cursiva"> Journal of Hematology , 2012;1: 77-88.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Montesó P, Ferré C, Lleixà M, Albacar N, Aguilar C, Sánchez A, Lejeune M.</span> <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1365-2850.2011.01798.x/abstract;jsessionid=0E0AD2EEF67808FFEB1EC4BF93E3145B.f04t01">Depression in the elderly: study in a rural city in southern Catalonia.</a><span class="cursiva"> Journal of Psychiatric and Mental Health Nursing, 2012;19: 426–429. doi:10.1111/j.1365-2850.2011.01798.x</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Godínez JM, Tous S, Baixeras N, Moreno-Crespi J, Alejo M, Lejeune M, Bravo IG, Bosch FX, de Sanjosé S.</span> <a href="https://www.researchgate.net/publication/51809937_Performance_of_the_digene_LQ_RH_and_PS_HPVs_genotyping_systems_on_clinical_samples_and_comparison_with_HC2_and_PCR-based_Linear_Array">Performance of the digene LQ, RH and PS HPVs genotyping systems on clinical samples and comparison with HC2 and PCR-based Linear Array.</a> <span class="cursiva"> Infectious Agents And Cancer , 2011;6: 23.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Miró JM, De Lazzari E, García F, claramente X, Martínez E, Ribera E, Arrizabalaga J, Arribas JR, Domingo P, Ferrer E, Plana M, Valls ME, Podzamczer D, Fumarola T, Jacquet A, Mallolas J, Gatell JM, Gallart T, and the Spanish Toxoplasma gondii Study Group.</span> <a href="https://academic.oup.com/cid/article-lookup/doi/10.1093/cid/ciq197">Restoration of T Cell Responses to Toxoplasma gondii after Successful Combined Antiretroviral Therapy in Patients with AIDS with Previous Toxoplasmic Encephalitis.</a> <span class="cursiva"> Clinical Infectious Diseases , 2011;52: 662-670.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, López C, Bosch R, Korzynska A, Salvadó MT, García-Rojo M, Neuman U, Witkowski L, Baucells J, Jaén J.</span> <a href="https://link.springer.com/article/10.1007%2Fs00428-010-1008-3">JPEG2000 for automated quantification of immunohistochemically stained cell nuclei: a comparative study with standard JPEG format.</a> <span class="cursiva"> Virchows Archiv-An International Journal of Pathology , 2011;458: 237-245.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Marti Mestre J, Cañis Sánchez D, Jaén Martínez JM, Bosch Princep R.</span> <a href="http://www.elsevier.es/en-revista-actas-urologicas-espanolas-392-articulo-prostatic-blue-nevus-an-infrequent-S2173578610702225">Prostatic blue nevus. An infrequent histologic diagnosis.</a> <span class="cursiva"> Actas Urol Esp. 2010;34:899-01.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ortín X, Rodríguez-Luaces Marta, Bosch R, Lejeune M, Font Ll.</span> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3222269/">Acute liver failure as the first manifestation of very late relapsing of Hodgkin’s disease.</a> <span class="cursiva">Hematology Reviews. 2010;2:32-3. FI: 1,333. 4t quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Gentille-Lorente DI, Pons-Ferré L.</span> <a href="http://www.revespcardiol.org/en/infective-endocarditis-and-sudden-death/articulo/13155687/">Infective endocarditis and sudden death.</a> <span class="cursiva">Rev Esp Cardiol. 2010;63:1087. FI: 2,746. 2n quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Alvaro T, de la Cruz-Merino L, Henao-Carrasco F, Villar Rodríguez JL, Vicente Baz D, Codes Manuel de Villena M, Provencio M.</span> <a href="https://www.hindawi.com/journals/bmri/2010/846872/">Tumor microenvironment and immune effects of antineoplastic therapy in lymphoproliferative syndromes.</a> <span class="cursiva">J Biomed Biotechnol. 2010;pii:846872. FI: 1,750. 3r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Sánchez-Espiridión B, Sánchez-Aguilera A, Montalbán C, Martin C, Martinez R, González-Carrero J, and Spanish Hodgkin's Lymphoma Study Group (Álvaro T).</span> <a href="http://clincancerres.aacrjournals.org/content/15/4/1367.long">A taqMan low-density array to predict outcome in advanced Hodgkin's lymphoma using paraffin-embedded samples.</a> <span class="cursiva">Clin Cancer Res. 2009;15:1367-75. FI: 6,488. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Becker N, Fortuny J, Alvaro T, Nieters A, Maynadi M, Foretova L, Staines A, Brennan P, Boffetta P, Cocco PL, de Sanjose S.</span> <a href="https://link.springer.com/article/10.1007%2Fs00432-009-0551-2">Medical history and risk of lymphoma: results of a European case-control study (EPILYMPH).</a> <span class="cursiva">J Cancer Res Clin Oncol. 2009;135:1099-107. FI: 2,217. 3r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Jaén Martinez J, Lejeune M, Escrivà P, Salvadó MT, Pons LE, Alvaro T, Baucells J, García-Rojo M, Cugat X, Bosch R.</span> <a href="https://link.springer.com/article/10.1007%2Fs00418-009-0626-9">Roundness variation in JPEG images affects the automated process of nuclear immunohistochemical quantification: correction with a linear regression model.</a> <span class="cursiva">Histochem Cell Biol. 2009;132:469-77. FI: 2,320. 2n quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Álvaro T.</span> <a href="http://www.haematologica.org/content/94/1/16">Clinicobiological, prognostic and therapeutic implications of the tumor microenvironment in follicular lymphoma.</a> <span class="cursiva">Haematologica. 2009;94:10-6. FI: 5,978. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Escrivá P, Pons Ll, Bosch R, Jaén J, López C, Salvadó MT, de Sanjosé S.</span> <a href="http://www.sciencedirect.com/science/article/pii/S1040842808002412">Appraisal of immune response in lymphoproliferative syndromes: A systematic review.</a><span class="cursiva"> Crit Rev Oncol Hemat. 2009;70:103-13. FI: 4,589. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ruiz A, Nomdedeu M, Ortega M, Lejeune M, Setoain J, Climent N, Fumero E, Plana M, León A, Alós L, Piera C, Lomeña F, Gatell JM, Gallart T, Garcia F.</span> <a href="http://www.futuremedicine.com/doi/abs/10.2217/imt.09.5?url_ver=Z39.88-2003&rfr_id=ori%3Arid%3Acrossref.org&rfr_dat=cr_pub%3Dpubmed&">Assessment of migration of HIV-1-loaded dendritic cells labeled with 111In-oxine used as a therapeutic vaccine in HIV-1-infected patients.</a><span class="cursiva"> Immunotherapy , 2009;1(3): 347-354</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Lejeune M, Escrivà P, Bosch R, Salvadó T, Pons L, Baucells J, Cugat X, Álvaro T, Jaén J.</span> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2585525/">Effects of image compression on automatic count of immunohistochemically stained nuclei in digital images.</a><span class="cursiva"> Journal of the American Medical Informatics Association , 2008;15(6): 794-798</span>
                </li>
            </ul>
        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>