<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Publications</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item publicacio">
                    <span class="fort">Callau C, Lejeune M, Korzynska A, García M, Bueno G, Bosch R, Jaén J, Orero G, Salvadó T, López C</span> <a href="https://biomedical-engineering-online.biomedcentral.com/articles/10.1186/1475-925X-14-S2-S2">Evaluation of cytokeratin-19 in breast cancer tissue samples: A comparison of automatic and manual evaluations of scanned tissue microarray cylinders.</a><span class="cursiva"> Biomedical Engineering Online , 2016;14(2): 13.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Salvadó MT, Bosch R, Navas N, Pons L, Lejeune M, López C, Orero G, Álvaro T.</span> <a href="http://www.elsevier.es/es-revista-revista-senologia-patologia-mamaria-131-articulo-estudio-comparativo-supervivencia-del-cancer-S0214158215001188">Estudio comparativo de la supervivencia del cáncer de mama según diagnóstico asistencial versus programa de detección precoz. Comparison of breast cancer survival by diagnosis in the clinical setting versus screening.</a><span class="cursiva"> Revista de Senología y Patología Mamaria , 2016;29(1): 13-18.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Gonzalez-Henares A, Clua-Espuny JL, Gil-Guillen VF, Panisello-Tafalla A, Queralt-Tomas ML, Ripolles-Vicente R, Lopez-Pablo C, Lucas-Noll J.</span> <a href="http://www.neurologia.com/articulo/2015470">Incidence and preventability of haemorrhagic strokes. Results of the Ebrictus register.</a><span class="cursiva"> Revista de Neurologia , 2016;62(9): 385-395.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Dalmau Llorca MR, Boira Costa M, López Pablo C, Pepió Vilaubí JM, Aguilar Martin C, Forcadell Drago E.</span> <a href="http://www.elsevier.es/es-revista-atencion-primaria-27-linkresolver-diferencias-entre-mdrd-4-cg-prevalencia-S0212656716300415">Differences between MDRD-4 and CG in the prevalence of renal failure and its associated variables in type2 diabetic patients.</a><span class="cursiva"> Atencion Primaria , 2016.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Roszkowiak L, Korzynska A, Lejeune M, Bosch R, López C.</span> <a href="https://link.springer.com/chapter/10.1007%2F978-3-319-26227-7_57">Improvements to segmentation method of stained lymphoma tissue sections images.</a><span class="cursiva"> Springer Verlag. Proceedings of the 9th International Conference on Computer Recognition Systems CORES 2015. Series: Advances in Intelligent Systems and Computing, 403, 609-617, 2016. ISBN: 978-3-319-26225-3</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Clua-Espuny JL, Ripolles-Vicente R, Lopez-Pablo C, Panisello-Tafalla A, Lucas-Noll J, Calduch-Noll C, González-Henares MA, Queralt-Tomas ML.</span> <a href="http://www.elsevier.es/es-revista-atencion-primaria-27-linkresolver-diferencias-supervivencia-despues-un-episodio-S0212656714001577">Differences in the survival after an episode of stroke treated with thrombolytic therapy. Study Ebrictus.</a><span class="cursiva"> Atencion Primaria , 2015;47(2): 108-116.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Panisello-Tafalla A, Clua-Espuny JL, Gil-Guillen VF, González-Henares A, Queralt-Tomas ML, López-Pablo C, Lucas-Noll J, Lechuga-Duran I, Ripolles-Vicente R, Carot-Domenech J, López MG.</span> <a href="https://www.hindawi.com/journals/bmri/2015/134756/">Results from the Registry of Atrial Fibrillation (AFABE): Gap between Undiagnosed and Registered Atrial Fibrillation in Adults--Ineffectiveness of Oral Anticoagulation Treatment with VKA.</a><span class="cursiva"> Biomed Research International , 2015;art.134756.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Clua-Espuny JL, Ripolles-Vicente R, Forcadell-Arenas T, Gil-Guillen VF, Queralt-Tomas ML, González-Henares MA, Panisello-Tafalla A, López-Pablo C, Lucas-Noll J.</span> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4662271/">Sex Differences in Long-Term Survival after a First Stroke with Intravenous Thrombolysis: Ebrictus Study.</a><span class="cursiva"> Cerebrovascular Diseases , 2015;5(3): 95-102.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Jose Luis Clua-Espuny, Anna Panisello-Tafalla, Carlos Lopez-Pablo, Inigo Lechuga-Duran, Ramon Bosch-Princep, Jorgina Lucas-Noll, Antonia Gonzalez-Henares, Lluisa Queralt-Tomas, Rosa Ripolles-Vicente, Cristina Calduch-Noll, Nuria Gonzalez-Rojas, Miguel Gallofre-Lopez.</span> <a href="http://www.cardiologyres.org/index.php/Cardiologyres/article/view/327">Atrial Fibrillation and Cardiovascular Comorbidities, Survival and Mortality: A Real-Life Observational Study.</a><span class="cursiva"> Cardiovascular Research , 2014;5: 12-22.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Giménez-García E, Clua-Espuny J.L, Bosch-Príncep R, López-Pablo C, Lechuga-Durán I, Gallofré-López M, Panisello-Tafalla A, Lucas-Noll J, Queralt-Tomas M.L.</span> <a href="http://www.sciencedirect.com/science/article/pii/S0212656713001911">The management of atrial fibrillation and characteristics of its current care in outpatients. AFABE observational study [El circuito asistencial de la fibrilación auricular en pacientes ambulatorios: estudio observacional Audit fibrilación auricular en el Baix Ebre].</a><span class="cursiva"> Atencion Primaria , 2014;46(2): 58-67.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Montesó Curto P, Ferré-Grau C, Lleixà-Fortuño M, Albacar-Riobóo N, Lejeune M.</span> <a href="http://www.sciencedirect.com/science/article/pii/S0883941713001209">Diagnosed, identified, current and complete depression among patients attending Primary care in Southern Catalonia: different aspects of the same concept.</a><span class="cursiva"> Archives of Psychiatric Nursing Archives of psychiatric and mental health nursing. JCR , 2014;28(1): 50-54.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Callau C, Bosch R, Korzynska A, Jaén J, García-Rojo M, Bueno G, Salvadó MT, Alvaro T, Oños M, Fernández-Carrobles Mdel M, Llobera M, Baucells J, Orero G, Lejeune M.</span> <a href="http://bmjopen.bmj.com/content/4/8/e005643.long">Development of automated quantification methodologies of immunohistochemical markers to determine patterns of immune response in breast cancer: a retrospective cohort study.</a><span class="cursiva"> Bmj Open , 2014;8: 13.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Clua-Espuny JL, Lechuga-Duran I, Bosch-Princep R, Roso-Llorach A, Panisello-Tafalla A, Lucas-Noll J, López-Pablo C, Queralt-Tomas L, Giménez-Garcia E, González-Rojas N, Gallofré López M.</span> <a href="http://www.revespcardiol.org/en/linkresolver/prevalence-of-undiagnosed-atrial-fibrillation/90207387/">Prevalence of undiagnosed atrial fibrillation and of that not being treated with anticoagulant drugs: the AFABE study.</a><span class="cursiva"> Revista Española de Cardiologia , 2013;66(7): 545-552.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Gestí V, Tomás B, Korzynska A, Roso A, Callau C, Bosch R, Baucells J, Jaén J, Lopez C.</span> <a href="https://www.researchgate.net/publication/258104967_A_multistep_image_analysis_method_to_increase_automated_identification_efficiency_in_immunohistochemical_nuclear_markers_witha_high_background_level">A multistep image analysis method to increase automated identification efficiency in immunohistochemical nuclear markers with a high background level.</a><span class="cursiva"> Diagnostic Pathology , 2013;8: 13.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Korzynska A, Roszkowiak L, Lopez C, Bosch R, Witkowski L, Lejeune M.</span> <a href="https://diagnosticpathology.biomedcentral.com/articles/10.1186/1746-1596-8-48">Validation of various adaptive threshold methods of segmentation applied to follicular lymphoma digital images stained with 3,3'-Diaminobenzidine & Haematoxylin.</a><span class="cursiva"> Diagnostic Pathology , 2013;8: 48.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Tomás B, Korzynska A, Bosch R, Salvadó MT, Llobera M, Garcia-Rojo M, Alvaro T, Jaén J, Lejeune M.</span> <a href="https://academic.oup.com/ajcp/article-lookup/doi/10.1309/AJCPPXLYJVFGOV8I">Is It Necessary to Evaluate Nuclei in HER2 FISH Evaluation?</a><span class="cursiva"> American Journal of Clinical Pathology , 2013;139: 47-54.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Nueman U, Korzynska A, López C, Lejeune M, Roszkowiak L, Bosch R.</span> <a href="http://www.sciencedirect.com/science/article/pii/S0208521613700561">Equalisation of archival microscopic images from immunohistochemical stained tissue section.</a><span class="cursiva"> Biocybernetics And Biomedical Engineering , 2013;33: 63-76.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Lejeune M, Bosch R, Korzynska A, García-Rojo M, Salvadó MT, Alvaro T, Callau C, Roso A, Jaén J.</span> <a href="http://ebooks.iospress.nl/publication/22018">Digital image analysis in breast cancer: an example of an automated methodology and the effects of image compression.</a><span class="cursiva"> IOS Press. Amsterdam, The Netherlands. Studies in Health Technology and Informatics. Perspectives on digital pathology - Results of the COST Action IC0604 EURO-TELEPATH in Health Technology and Informatics, 179, 155-171, 2012. ISBN: 978-1-61499-085-7</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, De la Cruz-Merino L, Álvaro T.</span> <a href="https://www.intechopen.com/books/hodgkin-s-lymphoma/hodgkin-s-lymphoma-from-tumor-microenvironment-to-immunotherapeutic-approach-body-s-own-power-protec">Hodgkin's lymphoma: from tumor microenvironment to immunotherapeutic approach. Body's own power protection challenges.</a><span class="cursiva"> InTech - Open Access Publisher. Hodgkin's Lymphoma, 63-110, 2012. ISBN: 978-953-51-0402-5</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">De la Cruz-Merino L, Lejeune M, Nogales-Fernández E, Henao-Carrasco F, Grueso-López A, Illescas-Vacas A, Provencio-Pulla M, Callau C, Álvaro T.</span> <a href="https://www.hindawi.com/journals/jir/2012/756353/">Role of immune escape mechanisms in Hodgkin's lymphoma development and progression: a whole new world with therapeutic implications.</a><span class="cursiva"> Clinical & Developmental Immunology , 2012: 756353.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ortin X, Giralt M, Romeu M, Lejeune M, Nogues MR, Sanchez-Martos V, Rodriguez-Luaces M, Sans T, Font Ll.</span> <a href="http://www.thejh.org/index.php/jh/article/view/34/32">Oxidative stress in patients with early stage chronic lymphocytic leukemia, assessment and correlation with prognostic factors.</a><span class="cursiva"> Journal of Hematology , 2012;1: 77-88.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Dalmau R, Boira M, Aguilar C, López C, Rodríguez D, Gentille D, Bofill D, Diogene E, Pepió JM.</span> <a href="https://bmccardiovascdisord.biomedcentral.com/articles/10.1186/1471-2261-11-47">Lipid-lowering drugs in ischaemic heart disease: a quasi-experimental uncontrolled before-and-after study of the effectiveness of clinical practice guidelines.</a><span class="cursiva"> Bmc Cardiovascular Disorders , 2011;11: 1-6.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Montesó P, Ferré C, Lleixà M, Albacar N, Aguilar C, Sánchez A, Lejeune M.</span> <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1365-2850.2011.01798.x/abstract;jsessionid=0E0AD2EEF67808FFEB1EC4BF93E3145B.f04t01">Depression in the elderly: study in a rural city in southern Catalonia.</a><span class="cursiva"> Journal of Psychiatric and Mental Health Nursing, 2012;19: 426–429. doi:10.1111/j.1365-2850.2011.01798.x</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Godínez JM, Tous S, Baixeras N, Moreno-Crespi J, Alejo M, Lejeune M, Bravo IG, Bosch FX, de Sanjosé S.</span> <a href="https://www.researchgate.net/publication/51809937_Performance_of_the_digene_LQ_RH_and_PS_HPVs_genotyping_systems_on_clinical_samples_and_comparison_with_HC2_and_PCR-based_Linear_Array">Performance of the digene LQ, RH and PS HPVs genotyping systems on clinical samples and comparison with HC2 and PCR-based Linear Array.</a> <span class="cursiva"> Infectious Agents And Cancer , 2011;6: 23.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Miró JM, De Lazzari E, García F, claramente X, Martínez E, Ribera E, Arrizabalaga J, Arribas JR, Domingo P, Ferrer E, Plana M, Valls ME, Podzamczer D, Fumarola T, Jacquet A, Mallolas J, Gatell JM, Gallart T, and the Spanish Toxoplasma gondii Study Group.</span> <a href="https://academic.oup.com/cid/article-lookup/doi/10.1093/cid/ciq197">Restoration of T Cell Responses to Toxoplasma gondii after Successful Combined Antiretroviral Therapy in Patients with AIDS with Previous Toxoplasmic Encephalitis.</a> <span class="cursiva"> Clinical Infectious Diseases , 2011;52: 662-670.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, López C, Bosch R, Korzynska A, Salvadó MT, García-Rojo M, Neuman U, Witkowski L, Baucells J, Jaén J.</span> <a href="https://link.springer.com/article/10.1007%2Fs00428-010-1008-3">JPEG2000 for automated quantification of immunohistochemically stained cell nuclei: a comparative study with standard JPEG format.</a> <span class="cursiva"> Virchows Archiv-An International Journal of Pathology , 2011;458: 237-245.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Neuman U, Korzynska A, Lopez C, Lejeune M.</span> <a href="https://link.springer.com/chapter/10.1007/978-3-642-13105-9_11">Segmentation of stained lymphoma tissue section images.</a><span class="cursiva"> Springer Verlag. Information Technologies in Biomedicine. Series: Advances in Intelligent and Soft Computing. Part IV Signal Processing, 69, 101-113, 2010. ISBN: 978-3-642-13104-2</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Korzynska A, Neuman U, Lopez C, Lejeune M.</span> <a href="https://link.springer.com/chapter/10.1007/978-3-642-16295-4_24">The Method of Immunohistochemical Images Standardization.</a><span class="cursiva"> Springer Verlag. Image Processing & Communications Challenges II. Series: Advances in Soft Computing Series book, 84, 213-221, 2010. ISBN: 978-3-642-16294-7</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Marti Mestre J, Cañis Sánchez D, Jaén Martínez JM, Bosch Princep R.</span> <a href="http://www.elsevier.es/en-revista-actas-urologicas-espanolas-392-articulo-prostatic-blue-nevus-an-infrequent-S2173578610702225">Prostatic blue nevus. An infrequent histologic diagnosis.</a> <span class="cursiva"> Actas Urol Esp. 2010;34:899-01.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ortín X, Rodríguez-Luaces Marta, Bosch R, Lejeune M, Font Ll.</span> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3222269/">Acute liver failure as the first manifestation of very late relapsing of Hodgkin’s disease.</a> <span class="cursiva">Hematology Reviews. 2010;2:32-3. FI: 1,333. 4t quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Gentille-Lorente DI, Pons-Ferré L.</span> <a href="http://www.revespcardiol.org/en/infective-endocarditis-and-sudden-death/articulo/13155687/">Infective endocarditis and sudden death.</a> <span class="cursiva">Rev Esp Cardiol. 2010;63:1087. FI: 2,746. 2n quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Alvaro T, de la Cruz-Merino L, Henao-Carrasco F, Villar Rodríguez JL, Vicente Baz D, Codes Manuel de Villena M, Provencio M.</span> <a href="https://www.hindawi.com/journals/bmri/2010/846872/">Tumor microenvironment and immune effects of antineoplastic therapy in lymphoproliferative syndromes.</a> <span class="cursiva">J Biomed Biotechnol. 2010;pii:846872. FI: 1,750. 3r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Marylène Lejeune, Carlos López, Patricia Escrivá, Maria-Teresa Salvadó, Ramón Bosch, Joaquín Jaén, Lluís E. Pons, Tomás Álvaro.</span> <a href="https://www.novapublishers.com/catalog/product_info.php?products_id=9366">Immune Response Patterns in Follicular Lymphoma. Challenges for New Immunotherapeutic Strategies.</a><span class="cursiva"> Nova Science Publishers. Follicular Lymphoma and Other Cancer Research. Chapter IX, 121-150, 2009. ISBN: 978-1-60741-008-9</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Sánchez-Espiridión B, Sánchez-Aguilera A, Montalbán C, Martin C, Martinez R, González-Carrero J, and Spanish Hodgkin's Lymphoma Study Group (Álvaro T).</span> <a href="http://clincancerres.aacrjournals.org/content/15/4/1367.long">A taqMan low-density array to predict outcome in advanced Hodgkin's lymphoma using paraffin-embedded samples.</a> <span class="cursiva">Clin Cancer Res. 2009;15:1367-75. FI: 6,488. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Becker N, Fortuny J, Alvaro T, Nieters A, Maynadi M, Foretova L, Staines A, Brennan P, Boffetta P, Cocco PL, de Sanjose S.</span> <a href="https://link.springer.com/article/10.1007%2Fs00432-009-0551-2">Medical history and risk of lymphoma: results of a European case-control study (EPILYMPH).</a> <span class="cursiva">J Cancer Res Clin Oncol. 2009;135:1099-107. FI: 2,217. 3r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Jaén Martinez J, Lejeune M, Escrivà P, Salvadó MT, Pons LE, Alvaro T, Baucells J, García-Rojo M, Cugat X, Bosch R.</span> <a href="https://link.springer.com/article/10.1007%2Fs00418-009-0626-9">Roundness variation in JPEG images affects the automated process of nuclear immunohistochemical quantification: correction with a linear regression model.</a> <span class="cursiva">Histochem Cell Biol. 2009;132:469-77. FI: 2,320. 2n quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Álvaro T.</span> <a href="http://www.haematologica.org/content/94/1/16">Clinicobiological, prognostic and therapeutic implications of the tumor microenvironment in follicular lymphoma.</a> <span class="cursiva">Haematologica. 2009;94:10-6. FI: 5,978. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Escrivá P, Pons Ll, Bosch R, Jaén J, López C, Salvadó MT, de Sanjosé S.</span> <a href="http://www.sciencedirect.com/science/article/pii/S1040842808002412">Appraisal of immune response in lymphoproliferative syndromes: A systematic review.</a><span class="cursiva"> Crit Rev Oncol Hemat. 2009;70:103-13. FI: 4,589. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ruiz A, Nomdedeu M, Ortega M, Lejeune M, Setoain J, Climent N, Fumero E, Plana M, León A, Alós L, Piera C, Lomeña F, Gatell JM, Gallart T, Garcia F.</span> <a href="http://www.futuremedicine.com/doi/abs/10.2217/imt.09.5?url_ver=Z39.88-2003&rfr_id=ori%3Arid%3Acrossref.org&rfr_dat=cr_pub%3Dpubmed&">Assessment of migration of HIV-1-loaded dendritic cells labeled with 111In-oxine used as a therapeutic vaccine in HIV-1-infected patients.</a><span class="cursiva"> Immunotherapy , 2009;1(3): 347-354</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Lejeune M, Escrivà P, Bosch R, Salvadó T, Pons L, Baucells J, Cugat X, Álvaro T, Jaén J.</span> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2585525/">Effects of image compression on automatic count of immunohistochemically stained nuclei in digital images.</a><span class="cursiva"> Journal of the American Medical Informatics Association , 2008;15(6): 794-798</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Jaén J, Pons L, López C, Salvadó MT, Bosch R, García M, Escrivà P, Baucells J, Cugat X, Álvaro T.</span> <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1469-7580.2008.00910.x/abstract">Quantification of diverse subcellular immunohistochemical markers with clinicobiological relevancies: validation of a new computer-assisted image analysis procedure.</a><span class="cursiva"> Journal of Anatomy , 2008;212(6): 868-878</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Lejeune M, Salvadó MT, Escrivà P, Bosch R, Pons L, Álvaro T, Roig J, Baucells J, Cugat X, Jaén J.</span> <a href="https://link.springer.com/article/10.1007/s00418-007-0368-5">Automated quantification of nuclear immunohistochemical markers with different complexity.</a><span class="cursiva"> Histochemistry and Cell Biology , 2008;129(3): 379-387</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, García JF, Salvadó MT, López C, Bosch R, Jaén J, Escrivá P, Pons LE.</span> <a href="http://clincancerres.aacrjournals.org/content/14/3/685.long">Tumor-infiltrated immune response correlates with alterations in the apoptotic and cell-cycle pathways in Hodgkin and Reed-Sternberg cells.</a><span class="cursiva"> Histochemistry and Cell Biology , 2008;14(3): 685-691</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Salvadó MT, Lopez C, Escrivá P, Jaén J, Bosch R, Pons LE.</span> <a href="http://ascopubs.org/doi/full/10.1200/jco.2006.10.2251">CD57 expression on lymphoma microenvironment as a new prognostic marker related to immune dysfunction.</a><span class="cursiva"> Journal of Clinical Oncology , 2007;25(10): 1291-1292</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Salvadó MT, Lopez C, Jaén J, Bosch R, Pons LE.</span> <a href="http://ascopubs.org/doi/abs/10.1200/JCO.2006.06.4766?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%3dpubmed">Immunohistochemical patterns of reactive microenvironment are associated with the clinico-biological behavior in follicular lymphoma patients.</a><span class="cursiva"> Journal of Clinical Oncology , 2006;24(34): 5350-5357</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Camacho FI, Salvadó MT, Sánchez L, García JF, Lopez C, Jaén J, Bosch R, Pons LE, Bellas C, Montalbán C, Arranz R, Piris MA.</span> <a href="http://www.haematologica.org/content/91/12/1605.long">The presence of STAT1-positive tumor-associated macrophages (TAM) predicts an unfavorable outcome in patients with follicular lymphoma.</a><span class="cursiva"> Haematologica-The Hematology Journal , 2006;91(12): 1605-1612</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Miro JM, Lopez JC, Podzamczer D, Peña JM, Alberdi JC, Martínez E, Domingo P, Cosin J, Claramonte X, Arribas JR, Santín M, Ribera E, and the Gesida 04/98 Study Group.</span> <a href="https://academic.oup.com/cid/article/43/1/79/310187/Discontinuation-of-Primary-and-Secondary">Discontinuation of Primary and Secondary Toxoplasma gondii Prophylaxis is Safe in HIV-infected Patients after Immunological Restoration with HAART. Results of an Open, Randomized and Multicenter Clinical Trial (GESIDA 04/98-B).</a><span class="cursiva"> Clinical Infectious Diseases dins del GESIDA 04/98 Study Group , 2006;43: 79-89</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Pacheco R, Martinez-Navio JM, Lejeune M, Climent N, Oliva H, Gatell JM, Gallart T, Mallol J, Lluis C, Franco R.</span> <a href="http://www.pnas.org/content/102/27/9583.long">CD26, adenosine deaminase, and adenosine receptors mediate costimulatory signals in the immunological synapse.</a><span class="cursiva"> Proc. Nat. Acad. Sc. USA , 2005;102(27): 9583-9588</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Salvadó Ma T, Bosch R, García JF, Reverter G, Jaén J, Pons LE, Montalbán C, Piris MA.</span> <a href="http://www.tandfonline.com/doi/abs/10.1080/10428190500220654">Tumor-infiltrating cells as prognostic factor in Hodgkin's lymphoma. A quantitative tissue microarray study in a large retrospective cohort of 267 patients.</a><span class="cursiva"> Displays , 2005;46(11): 1581-1591</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Bosch R, Lejeune M, Salvadó Ma T, Jaén J, Pons LL, Álvaro T.</span> <a href="https://link.springer.com/article/10.1007%2Fs00277-005-1051-3">Decreased number of granzyme-B+ activated CD8+ cytotoxic T lymphocytes in the inflammatory background of HIV-associated Hodgkin's Lymphoma.</a><span class="cursiva"> Annals of Hematology , 2005;84(10): 661-666</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">García F, Lejeune M, Climent N, Gil C, Alcamí J, Morente V, Alós L, Ruiz A, Setoain J, Fumero E, Castro P, López A, Cruceta A, Piera C, Florence E, Pereira A, Libois A, González N, Guilá M, Caballero M, Lomeña F, Joseph J, Miró JM, Pumarola T, Plana M, Gatell JM, Gallart T.</span> <a href="https://academic.oup.com/jid/article-lookup/doi/10.1086/429340">Therapeutic immunization with dendritic cells loaded with inactivated autologous HIV-1 in chronic HIV-1 infected patients.</a><span class="cursiva"> Journal of Infectious Diseases , 2005;191(10): 1680-1685</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Alvaro T, Lejeune M, Salvado MT, Bosch R, Garcia JF, Jaen J, Banham AH, Roncador G, Montalban C, Piris MA.</span> <a href="http://clincancerres.aacrjournals.org/cgi/pmidlookup?view=long&pmid=15746048">Outcome in Hodgkin's Lymphoma Can Be Predicted from the Presence of Accompanying Cytotoxic and Regulatory T Cells.</a><span class="cursiva"> Clinical Cancer Research , 2005;11(4): 1467-1473</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Soriano A, Martínez C, García F, Plana M, Palou E, Lejeune M, Aróstegui JI, De Lazzari E, Rodriguez C, Barrasa A, Lorenzo JI, Alcamí J, Del Romero J, Míro JM, Gallart T, Gatell JM.</span> <a href="https://academic.oup.com/jid/article-lookup/doi/10.1086/343741">Plasma stromal cell-derived factor (SDF-1) levels, SDF1-3'A genotype, and expression of CXCR4 on T lymphocytes: their impact on resistance to human immunodeficiency virus type 1 infection and its progression.</a><span class="cursiva"> Journal of Infectious Diseases , 2002;186(7): 922-931</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Plana M, Martínez C, García F, Maleno MJ, Barceló JJ, García A, Lejeune M, Vidal C, Cruceta A, Míro JM, Pumarola T, Gallart T, Gatell JM.</span> <a href="https://www.ncbi.nlm.nih.gov/labs/articles/11981357/">Immunologic reconstitution after 1 year of highly active antiretroviral therapy, with or without protease inhibitors.</a><span class="cursiva"> JAIDS-Journal of Acquired Immune Deficiency Syndromes , 2002;29(5): 429-434</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Míro JM, Haumont M, Martínez E, Martínez C, Claramonte X, Morillas S, García F, Plana M, Valls ME, Pumarola T, Jacquet A, Gatell JM, Gallart T.</span> <a href="http://portalrecerca.csuc.cat/4473618">T-cell response to Toxoplasma gondii (Tg) antigens discriminates healthy individuals with and without chronic infection. Its interest to evaluate the reconstitution of Tg-specific CD4+T cells in Tg-coinfected AIDS patients receiving antiretroviral therapy.</a><span class="cursiva"> Inmunologia , 2001;20: 1-11</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Cantinieaux B, Janssens A, Boelaert JR, Lejeune M, Vermylen C, Kerrels V, Cornu G, Winand J, Fondu P.</span> <a href="http://www.sciencedirect.com/science/article/pii/S0022214399900665">Ferritin-associated iron induces neutrophil dysfunction in hemosiderosis.</a><span class="cursiva"> Journal of Laboratory and Clinical Medicine , 1999;133(4): 353-361</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Cantinieaux B, Harag S, Ferster A, Devalck C, Sariban E.</span> <a href="http://onlinelibrary.wiley.com/doi/10.1046/j.1365-2141.1999.01589.x/abstract">Defective functional activity and accelerated apoptosis in neutrophils from children with cancer are differentially corrected by granulocyte and granulocyte-macrophage colony stimulating factors in vitro.</a><span class="cursiva"> British Journal of Haematology , 1999;106(3): 756-761</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Ferster A, Cantinieaux B, Sariban E.</span> <a href="http://onlinelibrary.wiley.com/doi/10.1046/j.1365-2141.1998.00916.x/full">Prolonged but reversible neutrophil dysfunctions differentially sensitive to granulocyte colony-stimulating factor in children with acute lymphoblastic leukaemia.</a><span class="cursiva"> British Journal of Haematology , 1998;102(5): 1284-1291</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Sariban E, Cantinieaux B, Ferster A, Devalck C, Fondu P.</span> <a href="https://www.nature.com/pr/journal/v39/n5/full/pr19962535a.html">Granulocyte functions in children with cancer are differentially sensitive to the toxic effect of chemotherapy.</a><span class="cursiva"> British Journal of Haematology , 1996;39(5): 835-842</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Sariban E, Cantinieaux B, Ferster A, Devalck C, Fondu P.</span> <a href="https://www.jstor.org/stable/30128002?seq=1#page_scan_tab_contents">Defective polymorphonuclear leukocyte functions in children receiving chemotherapy for cancer are partially restored by recombinant human granulocyte colony-stimulating factor in vitro.</a><span class="cursiva"> Journal of Infectious Diseases , 1996;174(4): 800-805</span>
                </li>
            </ul>
        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>