<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Publicacions</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item publicacio">
                    <span class="fort">Álvaro T, Lejeune M, Escrivá P, Pons Ll, Bosch R, Jaén J, López C, Salvadó MT, de Sanjosé S.</span> <a href="http://www.sciencedirect.com/science/article/pii/S1040842808002412">Appraisal of immune response in lymphoproliferative syndromes: A systematic review.</a><span class="cursiva">Crit Rev Oncol Hemat. 2009;70:103-13. FI: 4,589. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Lejeune M, Álvaro T.</span> Clinicobiological, prognostic and therapeutic implications of the tumor microenvironment in follicular lymphoma. <span class="cursiva">Haematologica. 2009;94:10-6. FI: 5,978. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">López C, Jaén Martinez J, Lejeune M, Escrivà P, Salvadó MT, Pons LE, Alvaro T, Baucells J, García-Rojo M, Cugat X, Bosch R.</span> Roundness variation in JPEG images affects the automated process of nuclear immunohistochemical quantification: correction with a linear regression model. <span class="cursiva">Histochem Cell Biol. 2009;132:469-77. FI: 2,320. 2n quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Becker N, Fortuny J, Alvaro T, Nieters A, Maynadi M, Foretova L, Staines A, Brennan P, Boffetta P, Cocco PL, de Sanjose S.</span>  Medical history and risk of lymphoma: results of a European case-control study (EPILYMPH). <span class="cursiva">J Cancer Res Clin Oncol. 2009;135:1099-107. FI: 2,217. 3r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Sánchez-Espiridión B, Sánchez-Aguilera A, Montalbán C, Martin C, Martinez R, González-Carrero J, and Spanish Hodgkin's Lymphoma Study Group (Álvaro T).</span> A taqMan low-density array to predict outcome in advanced Hodgkin's lymphoma using paraffin-embedded samples. <span class="cursiva">Clin Cancer Res. 2009;15:1367-75. FI: 6,488. 1r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Alvaro T, de la Cruz-Merino L, Henao-Carrasco F, Villar Rodríguez JL, Vicente Baz D, Codes Manuel de Villena M, Provencio M.</span> Tumor microenvironment and immune effects of antineoplastic therapy in lymphoproliferative syndromes. <span class="cursiva">J Biomed Biotechnol. 2010;pii:846872. FI: 1,750. 3r quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Gentille-Lorente DI, Pons-Ferré L.</span> Infective endocarditis and sudden death. <span class="cursiva">Rev Esp Cardiol. 2010;63:1087. FI: 2,746. 2n quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Ortín X, Rodríguez-Luaces Marta, Bosch R, Lejeune M, Font Ll.</span> Acute liver failure as the first manifestation of very late relapsing of Hodgkin’s disease. <span class="cursiva">Hematology Reviews. 2010;2:32-3. FI: 1,333. 4t quartil.</span>
                </li>
                <li class="list-group-item publicacio">
                    <span class="fort">Marti Mestre J, Cañis Sánchez D, Jaén Martínez JM, Bosch Princep R.</span> Prostatic blue nevus. An infrequent histologic diagnosis. <span class="cursiva"> Actas Urol Esp. 2010;34:899-01.</span>
                </li>
            </ul>
        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>