<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jobs Offers</title>

    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <h3 class="panel-heading about-heading">Job offer</h3>
        <div class="panel-body">
            <div class="row" id="job-row">
                <div class="col-lg-12">
                    <h2 class="job-title">WORK PLACE</h2>
                    <p>Candidate for the Marie Sklodowska Curie grants call for the Pathological Oncology & Bioinformatics group of the Pere Virgili Institute  (located in the Hospital de Tortosa Verge de la Cinta).</p>
                    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">TASKS</h2>
                    <p>Biomedical research based on the digital image analysis of the tumor microenvironment in patients with breast cancer, in order to find immune response patterns associated to the survival, relapse and treatment response of the patients.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">CANDIDATE PROFILE</h2>
                    <p>We are searching two different profiles:</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Degree in Life Sciences with experience in the study of the immune response in cancer.
                        </li>
                        <li class="list-group-item">
                            Engineer with experience in biomedical digital image analysis, with knowledge of Machine Learning or Deep Learning.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">REQUIREMENTS</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            The candidate must be in possession of a doctoral degree.
                        </li>
                        <li class="list-group-item">
                            The researcher must not have resided or carried out the main activity (work, studies, etc.) in Spain for more than 12 months in the last 3 years.
                        </li>
                        <li class="list-group-item">
                            Good english level.
                        </li>
                        <li class="list-group-item">
                            Capability of writting articles and scientific projects.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">WILL BE VALUED</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Ability to work in team and good predisposition.
                        </li>
                        <li class="list-group-item">
                            Provision for traveling.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">LABOR CONDITIONS</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Contract from 12 to 24 months.
                        </li>
                        <li class="list-group-item">
                            Full time contract.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">SEND CV A/e</h2>
                    <p>Dr. Carlos López Pablo</p>
                    <a href="mailto:#">clopezp.ebre.ics@gencat.cat</a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>