<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../../css/carousel.css" rel="stylesheet">
    <link href="../../../assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
            <h3 class="panel-heading about-heading">Objectius</h3>
            <div class="panel-body">
                <p>El grup de recerca en Patologia Oncològica i Bioinformàtica constitueix una plataforma específica per a activitats d’investigació directes amb dos objectius fonamentals: </p>

                <ul class="list-group">
                    <li class="list-group-item">
                        Identificar patrons de resposta immune i de factors etiològics, fisiopatogènics i pronòstics lligats a models de progressió de neoplàsies.
                    </li>
                    <li class="list-group-item">
                        Desenvolupar i perfeccionar nous suports informàtics d’anàlisi d’imatge assistit per ordinador per permetre una quantificació automatitzada més precisa i reproduïble d’aquests marcadors cel·lulars.
                    </li>
                </ul>

                <p>El grau d’implicació d’aquests patrons en els mecanismes d’escapament tumoral i en la utilitat terapèutica s’estan avaluant al mateix temps que la descripció de patrons dels virus oncogènics implicats en el desenvolupament d’aquestes neoplàsies. </p>

                <p>
                    Aquests objectius poden ajudar a entendre els mecanismes biològics implicats en la resistència a la quimioteràpia i l’obtenció de noves dianes terapèutiques capaces d’intervenció, a més de la constitució de nous factors claus en el diagnòstic, pronòstic i tractament d’aquests pacients
                </p>
            </div>
    </div>

    <div class="panel panel-default" id="liniesrecerca">
        <h3 class="panel-heading about-heading">Línies de recerca</h3>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item">
                    Estudi de la cel·lularitat limfoide reactiva i la resposta immune en síndromes limfoproliferatives. Estudi de les implicacions pronòstiques i els mecanismes d’escapament tumoral.
                </li>
                <li class="list-group-item">
                    Potencial oncogènic de virus en limfomes: anàlisi de l’expressió cel·lular de virus amb potencial oncogènic en biòpsies de limfomes i la seva correlació serològica.
                </li>
                <li class="list-group-item">
                    Morfometria i informàtica aplicada: desenvolupament de patrons d’anàlisi d’imatges digitals assistida per ordinador per avaluar quantitativament de manera automatitzada marcadors específics de subpoblacions cel·lulars tumorals i de resposta immune amb tincions immunohistoquímiques i de fluorescència.
                </li>
                <li class="list-group-item">
                    Avaluació de patrons de marcadors cel·lulars oncològics, resposta immune i supervivència en càncer de mama.
                </li>
            </ul>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Carlos López</h2>
            <p>És el coordinador del grup de recerca PO&B. Es va graduar en Biologia en 2001 en la Universitat Autònoma de Barcelona i va rebre els seu doctorat de la Universitat Rovira i Virgili en 2010. Està involucrat activament en un nombre gran de projectes d'investigació. La seva àrea de recerca actual és l'elaboració de patrons específics per anàlisi d'imatges assistit per ordinador (algoritmes) per quantificar automàticament l'evaluació molecular inmunohistoquímica.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dra. Marylène Lejeune</h2>
            <p>Graduated B.Sc. in Medical Biology in 1990 at the Free University of Brussels in Belgium and received his Ph.D. from the same University in 1995. She participated in diverse projects of investigation centred on neutrophils functionality in cancer patients (Belgium) and therapeutic vaccine with dendritic cells in AIDS patients (Spain). She is currently a full-time Clinical Investigator at the Hospital de Tortosa Verge de la Cinta. Current areas of research include the study of immune response in human cancers by means of immunohistochemical techniques, digital image analysis and fluorescent in situ hybridization.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Ramón Bosch</h2>
            <p>Is currently head of the Department of Pathology of the Hospital de Tortosa Verge de la Cinta, Spain. He is a full-time Medical Pathologist at the Hospital de Tortosa Verge de la Cinta, Spain. He graduated in Medicine at the Rovira and Virgili University of Reus in 1990 and then specialized in Pathology in 1994 at the Vall d’Hebron University Hospital, Spain. His main interests are the study of etiopathogenic relationships between virus and lymphoid neoplasms as well as the cellular pattern of lymphoid responses.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row top-buffer">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Tomás Álvaro</h2>
            <p>Received his Medical Pathologist degree from the Complutense University of Madrid, Spain, in 1985 and obtained his Ph.D. from the University of Granada in 1989. He is actively involved in a number of projects of investigation and is a manuscript reviewer for different international journals. He had authored a dozen manuscripts in the main field of Medical Oncology. His works concern principally the study of immune response in Hodgkin’s lymphomas and different lymphoproliferative syndromes. Current areas of research interest include the study of changes of genes and proteins involved in the host immune response but also in the apoptotic/proliferative pathways of tumoural cells in Hodgkin lymphomas.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Lluís E. Pons</h2>
            <p>Graduated in Medicine at the University of Barcelona 1998 and then specialized in Pathology in 2003 in the Parc Taulí Sanitary Corporation of Sabadell, Spain. He joined the staff of the Department of Pathology at Hospital de Tortosa Verge de la Cinta in 2003. At present he works on the human papilloma virus (HPV) cervical infection and more particularly on the clinicopathological evaluation of immune response pathways and tumour escape mechanisms in carcinoma of uterine neck and cervical preneoplasic lesions.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Joaquín Jaén</h2>
            <p>Graduated in Medicine at the Literary University ofValencia in 1988 and then specialized in Pathology in the University Hospital La Fe of Valencia in 1999. At present, he is a full-time Medical Pathologist at the Hospital de Tortosa Verge de la Cinta, Spain. His main interests are the development of computerized analysis algorithms for automatic digital images quantification of immunohistochemical techniques.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row top-buffer">
        <div class="col-lg-4 col-lg-offset-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dra. Maria-Teresa Salvadó</h2>
            <p>Graduated B.Sc. in Biology in 1979 at the Central University Barcelona and received his Ph.D. from the same University in 1990. She is a full-time Cytotechnologist at the Hospital de TortosaVerge de la Cinta, Spain and professor associate in the Nurse School of Rovira and Virgil University. She cursed a degree in “Methodology of Investigation: Design and Statistics in Sciences of the Health” at the Autonomous University of Barcelona in 2007. She continuously collaborates with all the investigators of the Hospital providing statistical evaluation and support to the clinical studies.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row top-buffer">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Llorenç Font</h2>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dr. Xavier Ortín</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dra. Marta Rodríguez</h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row top-buffer">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dra. Montserrat Llobera</h2>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Dra. Meritxell Arenas</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="about-name">Sr. Jordi Baucells</h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>