<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ofertes de feina</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <h3 class="panel-heading about-heading">Oferta</h3>
        <div class="panel-body">
            <div class="row" id="job-row">
                <div class="col-lg-12">
                    <h2 class="job-title">LLOC DE TREBALL</h2>
                    <p>Candidat/a per a sol•licitud d'ajut Marie Sklodowska Curie per al grup de Patologia Oncològica i Bioinformàtica de l'Institut d'Investigació Sanitària Pere i Virgili(a l'Hospital de Tortosa Verge de la Cinta).</p>
                    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">TASQUES</h2>
                    <p>Investigació biomèdica mitjançant anàlisi d'imatge digital del microambient tumoral en pacients amb càncer de mama, per trobar patrons de resposta immune associats a la supervivència, recaiguda i a la resposta al tractament de les pacients.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">PERFIL</h2>
                    <p>Busquem dos tipus de perfils diferents:</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Llicenciat o Grau en Ciències de la Vida amb experiència en l'estudi de la resposta immune en càncer.
                        </li>
                        <li class="list-group-item">
                            Enginyer amb experiència amb l'anàlisi d'imatges biomèdiques, especialment amb coneixements de Machine Learning o Deep Learning.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">REQUISITS</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Estar en possessió del títol de doctorat.
                        </li>
                        <li class="list-group-item">
                            No haver residit més de 12 mesos a España en els darrers 3 anys.
                        </li>
                        <li class="list-group-item">
                            Bon nivell d'anglès.
                        </li>
                        <li class="list-group-item">
                            Capacitat d'escriptura de projectes i articles científics.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">ES VALORARÀ</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Capacitat de treball en equip i bona predisposició.
                        </li>
                        <li class="list-group-item">
                            Disposició a viatjar.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">CONDICIONS LABORALS</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Contracte de 12 a 24 mesos.
                        </li>
                        <li class="list-group-item">
                            Jornada Completa.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">ENVIAR CV A/e</h2>
                    <p>Dr. Carlos López Pablo</p>
                    <a href="mailto:#">clopezp.ebre.ics@gencat.cat</a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>