<div class="panel panel-default" id="primer">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Navas N, Jaén J, Paz CY, Bel S, López P, Lejeune M.</span> Limfoma plasmablàstic primari cutani en pacient amb artritis reumatoide i tractat amb metotrexate.<span class="cursiva"> XII Congrés de la Societat Catalana d'Anatomia Patològica. Sitges, 2016.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Navas N, Jaén J, Ferrando FJ, Pérez P, López P, Lejeune M.</span> Neoplàsia blàstica de cèl·lules dendrítiques plasmacitoides.<span class="cursiva"> XII Congrés de la Societat Catalana d'Anatomia Patològica. Sitges, 2016.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Orero G, López C, Bosch R, Salvadó T, Álvaro T, García-Rojo M, Bueno G, Korzynska A, Roszkowiak L, Callau C, Navas N, Lejeune M.</span> Detection of automatic digital image analysis problems for the evaluation of immune markers in breast cancer biopsies.<span class="cursiva"> 13th European Congress on Digital Pathology. Berlin, 2016.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Orero G, López C, Bosch R, Salvadó T, Álvaro T, García-Rojo M, Bueno G, Korzynska A, Roszkowiak L, Callau C, Navas N, Lejeune M.</span> Detection of automatic digital image analysis problems for the evaluation of immune markers in breast cancer biopsies.<span class="cursiva"> 13th European Congress on Digital Pathology. Berlin, 2016.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M.</span> Imagen Digital Médica & Bioinformática.<span class="cursiva"> XXVIII Congreso Nacional de la Asociación Española de Técnicos de Laboratorio (AETEL). Curso: Nanomedicina y el Laboratorio. Tarragona, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Reverté Villarroya S, López Pablo C, Pallejà Sedó S, Lejeune M.</span> L'eix de la recerca biomèdica a l'Hospital de Tortosa Verge de la Cinta.<span class="cursiva"> 5ª Jornada del Pla de Salut de Catalunya. Sitges, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Orero G, Lopez C, Callau C, Bosch R, Jaén J, Salvadó T, Álvaro T, García-Rojo M, Bueno G, Korzynska A, Roszkowiak L, Navas N, Lejeune M.</span> Diferencias en el infiltrado linfocitario CD4 y CD8 intratumoral y peritumoral en carcinoma ductal de mama en función de la supervivencia y otras variables clínico-patológicas.<span class="cursiva"> XXVII Congreso Nacional de la sociedad española de anatomía patológica (SEAP-IAP). Santander, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Orero G, Lopez C, Callau C, Bosch R, Jaén J, Salvadó T, Álvaro T, Navas N, Lejeune M.</span> Papel de los macrófagos activados en pacientes con linfoma de Hodgkin clásico avanzado que no responden al tratamiento estándar de primera línea.<span class="cursiva"> XXVII Congreso Nacional de la sociedad española de anatomía patológica (SEAP-IAP). Santander, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Navas García N, Bosch Príncep R, Ferrando Roqueta FJ, Jaén Martínea JM, Navas García N, Orero Pastor G, Lejeune M.</span> Angiosarcoma cutáneo de cara y cuerpo cabelludo.<span class="cursiva"> XXVII Congreso Nacional de la sociedad española de anatomía patológica (SEAP-IAP). Santander, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch Príncep R, Jaén Martínea JM, Navas García N, Ferrando Roqueta FJ, López Pablo C, Lejeune M.</span> Carcinomas de células basales (ccb) infrecuentes: ccb combinado con melanoma y ccb sarcomatoide con diferenciación osteosarcomatosa.<span class="cursiva"> XXVII Congreso Nacional de la sociedad española de anatomía patológica (SEAP-IAP). Santander, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Orero Pastor G, Lejeune M, Bosch Princep R, Jaén Martínez J, Salvadó Usach T, López Pablo C.</span> Comparació de l'infiltrat de limfòcits T CD4 I CD8 Intra i Peritumoral en Carcinoma Ductal Infiltrant de Mama.<span class="cursiva"> XXI Jornades Mèdiques i de la Salut de les Terres de l'Ebre, Tortosa, 2015.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Callau C, Lejeune M, Korzynska A, García M, Bueno G, Ramon Bosch R, Jaén J, Orero G, Salvadó T, López C.</span> Evaluation of cytokeratin-19 in breast cancer tissue samples: a comparison of automatic and manual evaluations of scanned tissue microarray cilindres.<span class="cursiva"> 2nd International Work Conference on Bioinformatics and Biomedical Engineering (IWBBIO). Granada, 2014.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Callau C, Korzynska A, García-Rojo M, Bueno G, Fernández-Carrobles MM, Orero G, Roszkowiak L, Lejeune M.</span> Comparison study between TIFF and downsampled images. Automated evaluation of cytokeratin- 19 immunostained scanned breast cancer tissue microarray.<span class="cursiva"> 12th European Congress on Digital Pathology. Paris, 2014.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch Príncep R, Navas García N, Gestí García V, Suñe Martín A, López Pablo C, Lejeune M.</span> Melanoma maligne cutani a Terres de l'Ebre. Característiques anatomopatològiques dels casos diagnosticats del 2000 al 2013.<span class="cursiva"> XXX Jornades Mèdiques. Tortosa, 2014.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Navas García N, Bosch Príncep R, Jaén Martínez J, Gonçalves Tinoco C, Lejeune M.</span> Colitis per strongyloides, una gran simuladora.<span class="cursiva"> XI Congrés de la Societat Catalana d'Anatomia Patològica. Tarragona, 2014.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Callau C, Lejeune M, Korzynska A, Bosch R, Jaén J, Salvadó MT, Álvaro T, López C.</span> Automatització d'un nou procés d'avaluació del gen HER2 en càncer de mama: simplificació del mètode d'avaluació tradicional.<span class="cursiva"> I Jornada de Bioinformàtica i Biologia Computacional (BIB). Barcelona, 2013.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Callau C, Bosch R, Jaén J, Salvadó MT, Álvaro T, Baucells J, Lejeune M.</span> Processament d'imatges digitals per a la qualificació automatitzada de marcadors en patologia oncològica.<span class="cursiva"> I Jornada de Bioinformàtica i Biologia Computacional (BIB). Barcelona, 2013.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Sol J, Catalán T, Callau C, Lejeune M.</span> Infecció tuberculosa latent en els treballadors sanitarios de l'hospital de Tortosa Verge de la Cinta.<span class="cursiva"> XXIX Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2013.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, López C, Gestí V, Tomás B, Korzynska A, Roso A, Callau C, Bosch R, Baucels J, Jaén J.</span> A multistep image analysis method to increase automated identification efficiency in immunohistochemical nuclear markers with a high background level.<span class="cursiva"> 11th European Congress on Telepathology and 5th International Congress on Virtual Microscopy. Venice, 2012.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Gestí V, Tomás B, Roso A, Baucels J, Lejeune M.</span> Nou mètode d'anàlisi d'imatge digital per augmentar l'eficàcia de l'identificació automatitzada de marcadors nuclears immunohistoquímics amb soroll de fons elevat.<span class="cursiva"> XXVIII Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2012.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Godínez JM, Tous S, Moreno J, Baixeras N, Alejo M, Lejeune M, Bravo IG, Bosch FX, de Sanjosé S.</span> Comparison of Digene HPV genotyping systems with linear array/HC2.<span class="cursiva"> 27th International Papillomavirus Conference and Clinical Workshop. Berlin, 2011.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Korzyńska A, Neuman U, López C, Lejeune M, R Bosch.</span> The method of correction used for archival images from immunohistochemical samples to improve the image segmentation results.<span class="cursiva"> The Joint Meeting with "Euro-Telepath" COST Action IC0604 WG3 and WG4. Advances in telemedicine applications. Session III: Telepathology and images analysis. Warsaw, 2011.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Korzynska A, Neuman U, Lopez C, Lejeune M.</span> The Method of Immunohistochemical Images Standardization.<span class="cursiva"> 2nd International Conference on Image Processing& Communications (IP&C). Bydgoszcz, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López Pablo C, Lejeune M, Bosch Príncep R, Salvadó Usach MT, Tomás Arasa B, Jaén Martínez J.</span> Nova metodologia per la valoració de l'hibridació in situ fluorescent en l'amplificació del gen HER-2 en càncer de mama ductal infiltrant.<span class="cursiva"> XXVI Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lopez C, Lejeune M, Korzynska A, Bosch R, Neuman U, Salvadó T, Subirats N, Muñoz E, Pons L, Álvaro T, Jaén J.</span> New methodology to evaluate HER-2 FISH in invasive breast cancer.<span class="cursiva"> Intercongress Meeting of the European Society of Pathology. Kraków, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, Lopez C, Korzynska A, Jaén J, Neuman U, Salvadó T, Pons L, Álvaro T, Cugat X, Baucells J, Bosch R.</span> New automated approach for FISH analysis of HER-2 amplification in invasive breast carcinomas.<span class="cursiva"> Intercongress Meeting of the European Society of Pathology. Kraków, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Neuman U, Korzynska A, Lopez C, Lejeune M.</span> Segmentation of Stained Lymphoma Tissue Section Images.<span class="cursiva"> 2nd International Conference Information Technologies in Biomedicine (ITIB). Kamień Śląski, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Godínez JM, Ibáñez R, Tous, Klaustermeier JE, Baixeras N, Moreno J, Alejo M, Lejeune M, Bosch FX, De Sanjosé S.</span> HPV genotyping in a population of the Catalonian cervical cancer screening.<span class="cursiva"> 26th International Papillomavirus Conference & Clinical and Publich Health Worshops. Montréal, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Lejeune M, Korzyńska A, Neuman U, Bosch R, Witkowski L, Jaén J.</span> JPEG vs. JPEG2000: a comparison of automated computer-assisted quantification of immunhistochemically stained nuclei.<span class="cursiva"> XIV National Conference "Biocybernetics and Biomedical Engineering". Warsaw, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Korzyńska A, Neuman U, López C, Lejeune M.</span> The segmentation method of digital images from immunohistochemical markers in breast cancer.<span class="cursiva"> XIV National Conference "Biocybernetics and Biomedical Engineering". Warsaw, 2010.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, López C, Jaén J, Escrivá P, Bosch R, Pons Ll, Salvadó MT, Álvaro T.</span> Aplicaciones del análisis digital automatizado de marcadores inmunohistoquímicos en patología.<span class="cursiva"> XXIV Congreso de la Sociedad Española de Patología (SEAP). Curso corto de Telecitopatología. Sevilla, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Pons Ferré LlE, Muñoz Casas E, Salvadó Usach MT, Bosch Príncep R, Jaén Martínez J, Lejeune M.</span> Augment de la incidència de patologia cervical a l'hospital de Tortosa Verge de la Cinta.<span class="cursiva"> XXV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Urszula Neuman, Korzynska A, Lopez C, Lejeune M.</span> Tresholding and watershed segmentation used to analyse of immunhistochemical image.<span class="cursiva"> Cytokinematics 2009. International Symposium on the kinematics of the Living Cells. Hradec Králové, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Urszula Neuman, Korzynska A, Lopez C, Lejeune M.</span> Analyse of immunohistochemical images using thresholding and watershed segmentation.<span class="cursiva"> Mini-symposium on Individualized Medicine: techniques, procedures, perspectives. Warsow, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Jaen J, Lejeune M, Escriva P, Salvado MT, Pons L, Avaro T, Baucells J, Garcia-rojo M, Cugat X, Bosch R.</span> Comparison study of automated quantification between JPEG and JPEG2000 in immunohistochemical stained nuclei.<span class="cursiva"> 22nd European Congress of Pathology. Florence, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Bosch R, Lejeune M, Salvado MT, Muñoz E, Subirats N, Pons Ll, Alvaro T, Jaen J.</span> New automated technique for evaluation of HER2 amplification by FISH in breast cancer.<span class="cursiva"> 22nd European Congress of Pathology. Florence, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Pons Ferre LlE, Salvadó Salvadó A, Escrivà Beltri P, López Pablo C, Lejeune M, Bosch Príncep R.</span> Implantació de la tècnica de determinació d'ADN de VPH d'alt risc mitjançant hibridació per captura a l'HTVC. Comparativa de resultats del primer any d'implantació amb els resultats obtinguts a la resta de Catalunya.<span class="cursiva"> XXV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Pons Ferre LlE, Salvadó Salvadó A, Escrivà Beltri P, López Pablo C, Lejeune M, Jaén Martínez J.</span> Implantació de la tècnica de determinació d'ADN de VPH d'alt risc mitjançant hibridació per captura a l'HTVC. Resultats de la tècnica el primer any d'implantació.<span class="cursiva"> XXV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López Pablo C, Escrivà Beltri P, Jaén Martínez J, Bosch Princep R, Pons Ferre LlE, Lejeune M.</span> Hibridació in situ fluorescent per a la detecció de l'amplificació del gen her2 en càncer de mama. Nova tècnica citogenètica molecular implantada a l'Hospital de Tortosa Verge de la Cinta.<span class="cursiva"> XXV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Escrivà Beltri P, Pons Ferre LlE, Jaén Martínez J, Bosch Princep R, Salvadó Usach MT, Lejeune M.</span> Detecció qualitativa de la presencia de soques d'alt risc del virus del papil·loma humà (VPH) en mostres cervicouterines. assaig d'hibridació d'àcids nucleics mitjançant quimioluminescència.<span class="cursiva"> XXV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, López Pablo C, Bosch Princep R, Escrivà Beltri P, Jaén Martínez J, Álvaro Naranjo T.</span> Hibridació in situ fluorescent per a la detecció de translocacions cromosòmiques en neoplàsies. Nova tècnica citogenètica implantada a l'Hospital de Tortosa Verge de la Cinta.<span class="cursiva"> XXV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2009.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Escrivá P, Lejeune M, Bosch R, López C, González M, Salvadó MT, Jaén J, Pons LE, Álvaro T.</span> STAT1 expression is associated with EBV status in T/NK-cell lymphomas.<span class="cursiva"> 3rd Intercontinental Congress of Pathology. Barcelona, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">P Escrivà, M Lejeune, R Bosch, C Lopez, M Gonzàlez, T Álvaro.</span> Els Limfomes no Hodgkin de cèl·lules T a les Terres de l'Ebre: Característiques clinicopatològiques i expressió del virus del Epstein-Barr.<span class="cursiva"> XXIV Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, López C, Escrivà P, Bosch R, Jaén J, Pons Ll, Salvadó MT, Álvaro T.</span> Fluorescent in situ hybridization digital image composition using computerized image analysis procedure.<span class="cursiva"> 13th International Congress of Histochemistry and Cytochemistry ICHC 2008: 'Imaging of Cell Dynamics'). Gdansk, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Lejeune M, Escrivà P, Bosch R, Salvadó MT, Pons Ll.E, Álvaro T, Jaén J.</span> Effects of image compression on area and roundness parameters in digital image analysis.<span class="cursiva"> 13th International Congress of Histochemistry and Cytochemistry ICHC 2008: 'Imaging of Cell Dynamics'). Gdansk, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Bosch R, M Lejeune, Escrivà P, Rodríguez M, Salvado MT, Tomás B, Lluís E. Pons, Álvaro T, Jaén J.</span> Proliferation index and percentage of positive nuclear area in follicular lymphoma evaluated with digital image analysis.<span class="cursiva"> 13th International Congress of Histochemistry and Cytochemistry ICHC 2008: 'Imaging of Cell Dynamics'). Gdansk, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">C López, M Lejeune, MT Salvadó, Ll E Pons, T Àlvaro, J Jaén.</span> Compressió d'imatges digitals en recomptes quantitatius automatitzats de tincions immunohistoquímiques nuclears.<span class="cursiva"> XXIV Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">C López, R Bosch, M Lejeune, M Rodríguez, B Tomás, J Jaén.</span> Avaluació automatitzada de l'índex de proliferació en limfomes fo¿liculars de grau I/II i el seu significat pronòstic.<span class="cursiva"> XXIV Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2008.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Lejeune M, Jaén J, Pons Ll, Salvadó MT, López C, Escrivá C, Álvaro T.</span> T regulatory cells in classical hodgkin's lymphoma.<span class="cursiva"> 7th International Symposium on Hodgkin Lymphoma. Cologne, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Jaén J, Lejeune M, Salvadó MT, Pons Ll, Álvaro T.</span> Noves estratègies de quantiticació de immunohistoquímica digital automatitzada.<span class="cursiva"> XXIII Jornades Mèdiques i de la Salut de les Terres de l'Ebre. Tortosa, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">C López, J Jaen, M Lejeune, MT Salvadó, P Escrivá, R Bosch, Ll Pons, T Álvaro.</span> Nuevas estrategias de cuantificación immunohistoquímica digital automatizada.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Anatomía Patológica (SEAP). Tarragona, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Ll E Pons, X Ortín, M Lejeune, C López, T Salvadó, J Jaén, R Bosch, P Escrivà, T Álvaro.</span> Valoración de datos morfológicos en biopsia de médula ósea para estudio de trombocitosis esencial.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Anatomía Patológica (SEAP). Tarragona, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, Jaén J, López C, Escrivá P, Salvadó MT, Bosch R, Pons Ll, Baucells J, Cugat X, Roig J, Álvaro T.</span> Comparative study between semi-automated and manuel cell quantification in digital images in Pathology.<span class="cursiva"> 21st European Congress of Pathology. Estambul, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Jaén J, López C, Lejeune M, Escrivá P, Salvadó MT, Bosch R, Pons Ll, Baucells J, Cugat X, Roig J, Álvaro T.</span> New approach for immunohistochemical nuclear markers quantification in digital images.<span class="cursiva"> 21st European Congress of Pathology. Estambul, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Jaén J, Lejeune M, Escrivá P, Salvadó MT, Bosch R, Pons Ll, Baucells J, Cugat X, Roig J, Álvaro T.</span> Effects of JEPG digital image compression on computer-assisted image quantification of nuclear immunohistochemical stained cells.<span class="cursiva"> 21st European Congress of Pathology. Estambul, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Lejeune M, Domingo E, Jaén J, Salvadó MT, Tomas B, Pons Ll, López C, Escrivá P, Ortin X, Rodríguez M, Álvaro T, Font L, De Sanjose S.</span> Epstein-Barr virus tumoral cell expression and its impact on overall survial in non-hodgkin lymphomas in Tarragona, Spain.<span class="cursiva"> 21st European Congress of Pathology. Estambul, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Lejeune M, Pons Ll, Domingo E, De Sanjose S, Benavente Y, Romagosa V, Sirvent JJ, Garcia-Cosio M, Morente V, Jaén J, Ortin X, Tomas B, Salvadó MT, Álvaro T.</span> Epstein-Barr virus and Human Herpes 8 in lymphoid neoplasms from Spain.<span class="cursiva"> 21st European Congress of Pathology. Estambul, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Jaén J, Pons Ll, Salvadó MT, Barberá MM, Lejeune M, López C, Escrivá P, Álvaro T, Sanz N, Villar M, Perez MO, Masdeu G.</span> Strongyloides stercoralis in Ebro Delta: pathological diagnosis.<span class="cursiva"> 21st European Congress of Pathology. Estambul, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">J. Jaén Martínez, MJ. de Luís García, Ll. Pons Ferré, R. Bosch Príncep, MT. Salvadó Usach, M. Lejeune, T. Álvaro Naranjo.</span> Revisión clínico-patológica de las lesiones de la aorta.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Anatomía Patológica (SEAP). Tarragona, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">R. Bosch, J. Jaén, Ll. Pons, MT. Salvadó, MM. Barberà, M. Lejeune, C. López, P. Escrivá, T.Alvaro.</span> Strongyloides stercoralis: Diagnóstico anatomopatológico.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Anatomía Patológica (SEAP). Tarragona, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch R, Lejeune M, Tomàs B, Ortín X, Salvadó T, Pons L.</span> Virus d'Epstein-barr i limfomes. Estudi in situ sobre matrius multiteixits.<span class="cursiva"> XXIII Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Pons L, Ortín X, López C, Lejeune M, Jaen J, Álvaro T.</span> Correlació clinicopatològica i revisió d'una sèrie de 22 casos de trombocitèmia esencial.<span class="cursiva"> XXIII Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2007.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, López C, Bosch R, Salvadó MT, Jaén J, Pons LlE, Álvaro T.</span> Paper de les cèl·lules no neoplàstiques com a moduladores del comportament clínic dels pacients amb limfoma fol·licular.<span class="cursiva"> XXII Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2006.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Pons Ll, Ortín X, Lejeune M, López C, Salvadó MT, Jaén J, Bosch R, Álvaro T.</span> Correlación clínicopatológica y revisión de una serie 22 casos de Trombocitemia Esencial (TE).<span class="cursiva"> VIII Congreso Virtual Hispanoamericano de Anatomía Patológica, 2006.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M, López C, Bosch R, Salvadó MT, Jaén J, Pons Ll, Álvaro T.</span> Papel modulador de la respuesta inmune sobre el comportamiento clínico en linfoma folicular.<span class="cursiva"> VIII Congreso Virtual Hispanoamericano de Anatomía Patológica, 2006.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">López C, Lejeune M, Pons LlE, Salvadó MT, Álvaro T, Jaén J.</span> Avaluació quantitativa semiautomàtica de tècniques immunohistoquímiques. Desenvolupament de macro única per a marcadors nuclears.<span class="cursiva"> XXII Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2006.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Álvaro Naranjo T, Lejeune M, de Sanjose S.</span> Respuesta inmune en linfomas.<span class="cursiva"> VII Congreso Virtual Hispanoamericano de Anatomía Patológica y I Congreso de Preparaciones Virtuales por Internet, 2005.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Jaén J, Lejeune M, Pons LE, Salvadó MT, García M, López C, Baucells J, Cugat X, Bosch R, Álvaro T.</span> Análisis cuantitativo de técnicas inmunohistoquímicas. Mejora de resultados mediante aplicación de software de análisis de imágenes digitales.<span class="cursiva"> VII Congreso Virtual Hispanoamericano de Anatomía Patológica y I Congreso de Preparaciones Virtuales por Internet, 2005.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Pons Ferre LE, Álvaro Naranjo T, Jaén Martínez J, Bosch Príncep R, Mateo C, Lejeune M, Salvadó Usach MT, López Pablo C.</span> Angiomiofibroblastoma de vagina.<span class="cursiva"> VII Congreso Virtual Hispanoamericano de Anatomía Patológica y I Congreso de Preparaciones Virtuales por Internet, 2005.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Bosch Príncep R, Lejeune M, Salvadó Usach MT, Jaén Martínez J, Pons Ferré Ll E, Álvaro Naranjo T.</span> Alteración de la respuesta citotóxica tisular en Linfoma de Hodgkin VIH+.<span class="cursiva"> XXII Congreso de la Sociedad Española de Anatomía Patológica. Palma de Mallorca, 2005.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">García F., Lejeune M., Gil C., Climent N., Alós Ll, Ruiz A., Pereira A., Miro JM., Pumarola T., Plana M., Alcamí J., Gatell JM., Gallart T.</span> Vacunación terapéutica con células dendríticas cargadas con VIH autólogo inactivado en pacientes VIH+ crónicos.<span class="cursiva"> XXX Congreso de la Sociedad Española de Inmunología, Santander, 2004.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Jaen J., Álvaro T., Bosch R., Pons Ll.E., Salvadó T., Lejeune M.</span> Miofribroblastoma de mama.<span class="cursiva"> XX Jornades Mediques i Ciències de la Salut de les Terres de L'Ebre, Tortosa, 2004.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">García F., Lejeune M., Climent N., Gil C., Alcamí J., Morente V., Alós Ll, Libois A, grup GESIDA.</span> Final results of a phase I study of a therapeutic vaccine using autologous dendritic cells primed with autologous virus in patients with chronic HIV infection and CD4 T cells above 400/mm3.<span class="cursiva"> 11th Conference on Retroviruses and Opportunistic Infections (CROI), San Francisco, 2004.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Álvaro T., Bosch R., Salvadó M.T., García J.F., Reverter G., Jaén J., Pons L., Montalbán C., Piris M.A.</span> Variations in reactive tumor-infiltrating cells composition are associated with different survival probabilities in Hodgkin's lymphoma. A quantitative tissue microarray study in a series of 267 patients.<span class="cursiva"> CNIO Tissue micro-arrays meeting 2003, Madrid, 2003.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Jaén Martínez J.M., Salvado Usach M.T., Bosch Príncep R., Rausell Fontestad N., Lejeune M., Álvaro Naranjo T.</span> Increment diagnostic I disminució de l'estadi amb la implantació del programa de detecció precoc del cáncer de mama.<span class="cursiva"> XIX Jornades Mèdiques de les Terres de l'Ebre, Tortosa, 2003.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Miro JM, Lejeune M, Claramonte X, Martinez E, Ribera E, Arrizabalaga J, Arribas JR, grup GESIDA.</span> Timing of reconstitution of Toxoplasma gondii-specific T-cell Responses in AIDS Patients with Acute Toxoplasmic Encephalitis After Starting HAART: A Prospective Multi-center Longitudinal Study.<span class="cursiva"> 10th Conference on Retroviruses and Opportunistic Infections (CROI), Boston, 2003.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">García F., Lejeune M., Climent N., Gil C., Alcamí J., Morente V., Alós Ll., Fumero E., Florence E., Pereira A., Castro P., Miró J.M., Plana M., Gatell J.M., Gallart T.</span> A Phase I Study of a Therapeutic Vaccine Using Moncyte-Derived Autologous Dendritic Cells (DC) Primed with Autologous Virus in Patients with Chronic HIV Infection and CD4 T-Cells above 400/mm3.<span class="cursiva"> 10th Conference on Retroviruses and Opportunistic Infections (CROI), Boston, 2003.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., García F., Gil C., Alcami J., Joseph J., Míro J.M., Plana M., Gatell J.M., Gallart T.</span> Restoration of Toxoplasma gondii (Tg)-specific T-Cell responses in AIDS patients receiving potent antiretroviral therapy (HAART) who discontinued Toxoplasma encephalitis (TE) primary (PP) and secondary (SP) prophylaxis is associated with immunological reconstitution.<span class="cursiva"> XIV International AIDS Conference, Barcelona, 2002.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., García F., Gil C., Alcami J., Joseph J., Míro J.M., Plana M., Gatell J.M., Gallart T.</span> Generation of monocytes-derived dendritics cells (MD-DC) in clinical GMP conditions and their ability to activate CD4 and CD8 T cells to HIV antigens in early HIV+ individuals receiving HAART.<span class="cursiva"> 9th Conference on Retroviruses and Opportunistic Infections (CROI), Washington, 2002.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., García F., Martínez C., Maleno M.J., Plana M., Míro J.M., Gatell J.M., Gallart T.</span> Optimización de la maduración de células dendríticas y el pulsado antigénico en condiciones GMP para uso clínico.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Inmunología, Madrid, 2001.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., García F., Martínez C., Plana M., Millán O., Martorell J., Míro J.M., Gatell J.M., Gallart T.</span> El ácido micofenolico induce la generación de células dendríticas CD14+ y con pobre capacidad estimulatoria.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Inmunología, Madrid, 2001.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Míro J.M., Haumont M., Martínez E., Arrizabalaga J., Ribera E., Martínez C., Claramonte X., Morillas S., García F., Plana M., Valls M.E., Jacquet A., Gatell J.M., Gallart T.</span> Restauración de células T CD4 específicas de Toxoplasma gondii (Tg) en pacientes con SIDA que reciben antiretrovirales.<span class="cursiva"> XXIII Congreso de la Sociedad Española de Inmunología, Madrid, 2001.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Plana M., Martínez C., García F., Maleno M.J., Míro J.M., Gatell J.M., Gallart T.</span> Células dendríticas derivadas de monocitos como posible adyuvante celular para una vacuna terapéutica en pacientes HIV-1+. Estudios preliminares in vitro.<span class="cursiva"> XXII Congreso de la Sociedad Española de Inmunología, Sevilla, 2000.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Plana M., García F., Gallart T., Lejeune M., Martínez C., Maleno M.J., Barceló J.J., Míro J.M., Gatell J.M.</span> Immunological reconstitution after triple antiretroviral therapy with two NRTII combined with a PI or nerirapine in early asymptomatic chronic HIV-1 infection.<span class="cursiva"> 5th European Conference of Experimental AIDS Research (ECEAR), Madrid, 2000.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Martínez C., Plana M., Gallart T., Lejeune M., Maleno M.J., García F., Míro J.M., Gatell J.M.</span> Expresión del co-receptor CXCR4 en población sana.<span class="cursiva"> XXII Congreso de la Sociedad Española de Inmunología, Sevilla, 2000.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Hermans P., Harag S., Cantinieaux B., Dufer M., Lejeune M., Clumeck N.</span> Effects of G-CSF on neutrophils function and apoptosis in HIV patients: a randomized dose-ranging trial.<span class="cursiva"> 7th Conference on Retroviruses an Opportunistic Infections (CROI), San Francisco, 2000.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Plana M., Martínez C., García F., Maleno M.J., Míro J.M., Gatell J.M., Gallart T.</span> Inducció de resposta in vitro de limfòcits T CD4+ and CD8+ contra proteines recombinants del VIH-1 per cèl.lules dendritiques derivadas de monòcits.<span class="cursiva"> XIII Jornada d'Actualizacions I Avençados en Immunologia. Barcelona, 1999.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Harag S., Lejeune M., Hermans P., Clumeck N., Cantinieaux B.</span> Signal transduction pathway in neutrophils (PMN) from HIV patients. Efects of G-CSF.<span class="cursiva"> 4th Congress of European Haematology Association, Barcelona, 1999.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Hermans P., Harag S., Clumeck N.</span> Increased level of apoptotic and necrotic neutrophils in AIDS patients. Normalisation with G-CSF.<span class="cursiva"> 4th International Congress on drug Therapy in HIV Infection. Glasgow, 1998.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Hermans P., Harag S., Clumeck N.</span> Increased level of apoptotic and necrotic neutrophils in AIDS patients. Normalisation with G-CSF.<span class="cursiva"> International Society of Haematology and European Haematology Association Combined Haemtology Congress. Amsterdam, 1998.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B.</span> Multiparametric analysis of neutrophils apoptosis. Morphological and flow cytometrical methods.<span class="cursiva"> 13th General Meeting of the Belgian Hematological Society, Brussels, 1998.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B.</span> Neutrophils apoptosis. Concomitant detection with necrosis by flow cytometry.<span class="cursiva"> 16th European Worshop on the "cell Biology of Phagocytes". Irsee, 1998.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Hermans P., Harag S., Clumeck N.</span> Ex vivo modulation of neutrophil function by G-CSF in patients with advanced HIV infection.<span class="cursiva"> 39th Annual Meeting of American Society of Hematology, San Diego, 1997.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Hermans P., janssens A., Kerrels V., Clumeck N.</span> Toxic role of ferritin form AIDS patients on neutrophil phagocytosis. Reverse effect of desferrioxamine.<span class="cursiva"> 39th Annual Meeting of American Society of Hematology, San Diego, 1997.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Vanderbèque A., Cantinieaux B.</span> Description of a new microbicidal assay using whole blood.<span class="cursiva"> 12th General Meeting of the Belgian Hematological Society, Brussels, 1997.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Sariban E., Cantinieaux B., Ferster A., Devalck C., Bron D., Stryckams P, Fondu P.</span> A study of polymorphonuclear neutrophils functions after bone marrow transplantation.<span class="cursiva"> 11th General Meeting of the Belgian Hematological Society, Brussels, 1996.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Sariban E., Cantinieaux B., Ferster A., Devalck C., Fondu P.</span> Defective PMN functions in cancer children under chemotherapy are partially restored by rHuG-CSF in vitro.<span class="cursiva"> Second Meeting of the European Haematology Association. Paris, 1996.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Nagy A., Parij N., Lejeune M., Neve J., Fondu P.</span> Modulation of the chemiluminescence production of activated human polymorphonuclear neutrophils by non-steroidal anti-inflammatory drugs.<span class="cursiva"> Second Meeting of the European Haematology Association. Paris, 1996.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Sariban E., Fondu P.</span> In vitro inhibition of the chemiluminescence of both myeloid precursors and mature PMN by adriamycin.<span class="cursiva"> 10th General Meeting of the Belgian Hematological Society, Brussels, 1995.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Sariban E., Cantinieaux B., Fondu P.</span> Recombinant human granulocyte colony-stimulating factor restore in vitro the defective respiratory burst activity of PMN from cancer children under chemotherapy.<span class="cursiva"> Meeting of the Belgian Association for Cancer Research, Brussels, 1995.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M.</span> Effects of adriamycin and of carboplatin/etoposide on the oxidative metabolism of polymorphonuclear neutrophils and of myeloid precursors.<span class="cursiva"> 18 Symposium of the BVKB/SBBC and the BKVC/SBCC (Société Belge de Biologie Clinique et de Chimie Clinique), Anvers, 1994.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Sariban E., Fondu P.</span> In vitro effects of adriamycin and carboplatin/etoposide on PMN functions.<span class="cursiva"> 9th General Meeting of the Belgian Hematological Society, Brussels, 1994.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Sariban E., Ferster A., Fondu P.</span> Altered functions of polymorphonuclear neutrophils induced by chemotherapy in children.<span class="cursiva"> 8th General Meeting of the Belgian Hematological Society, Brussels, 1993.</span>
            </li>
            <li class="list-group-item publicacio">
                <span class="fort">Lejeune M., Cantinieaux B., Sariban E., Strijckmans P., Fondu P.</span> Altered functions of polymorphonuclear neutrophils induced by chemotherapy.<span class="cursiva"> 24th Congress of the International Society of Haematology. London, 1992.</span>
            </li>
        </ul>
    </div>
</div>