<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">PO&B</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="Nav">
                        <li><a href="/" id="home"><span>Home</span></a></li>
                        <li><a href="/assets/views/about.html" id="group"><span>Group</span></a></li>
                        <li><a href="/assets/views/projects.html" id="projects"><span>Projects</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="pub-research"><span id="pubres">Research</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/assets/views/publish.html" id="publications"><span>Publications</span></a></li>
                                <li><a href="/assets/views/conference.html" id="conferences"><span>Conferences</span></a></li>
                            </ul>
                        </li>
                        <li><a href="/assets/views/media.html" id="media"><span>Media</span></a></li>
                        <li><a href="/assets/views/requirements.html" id="jobs"><span>Jobs</span></a></li>
                        <li><a href="/assets/views/contact.html" id="contacts"><span>Contact</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="RNav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="languages"><span id="landspan">Languages</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" role="button" onclick="changeLan('English')">English</a></li>
                                <li><a href="#" role="button" onclick="changeLan('Catala')">Català</a></li>
                                <li><a href="#" role="button" onclick="changeLan('Español')">Español</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
</div>
<script src="/assets/js/languages.js"></script>
<script src="/assets/js/carregar.js"></script>