<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sobre el grupo</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
            <h3 class="panel-heading about-heading">Objetivos</h3>
            <div class="panel-body">
                <p>El grupo de investigación en Patología Oncológica y Bioinformática es una plataforma específica para actividades de investigación directamente relacionadas con dos objetivos principales: </p>

                <ul class="list-group">
                    <li class="list-group-item">
                        Identificar patrones de respuesta inmune i factores etiológicos, fisiopatogénicos y modelos prognósticos relacionados con la progresión de neoplasias.
                    </li>
                    <li class="list-group-item">
                        Desenvolupar y perfeccionar nuevos soportes informáticos de análisis de imagen asistidos por ordenador para permitir una cuantificación automatizada más precisa i reproducible de estos marcadores celulares.
                    </li>
                </ul>

                <p>El grado de implicación de estos patrones en los mecanismos de escape tumoral y en la utilidad terapéutica es avalua al mismo tiempo que la descripcón de patrones de los virus oncogénicos implicados en el desarrollo de esos neoplasias.</p>

                <p>
                    Estos objetivos pueden ayudar a entender los mecanismos biológicos implicados en la resistencia a la quimioterapia y en la obtención de nuevas dianas terapéuticas capaces de intervención, además de la constitución de nuevos factores clave en el diagnóstico, pronóstico y tratamiento de estos pacientes.
                </p>
            </div>
    </div>

    <div class="panel panel-default" id="liniesrecerca">
        <h3 class="panel-heading about-heading">Lineas de investigación</h3>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item">
                    Estudio de la celularidad limfoide reactiva y la respuesta inmune en síndromes limfoproliferativos. Estudio de las implicaciones pronósticas y los mecanismos de escape tumoral.
                </li>
                <li class="list-group-item">
                    Potencial oncogénico de virus en linfomas: análisis de la expresión celular de virus con potencial oncogénico en biopsias de linfomas y su correlación serológica.
                </li>
                <li class="list-group-item">
                    Morfometria e informatica aplicada: desarrollo de patrones de análisis de imágenes digitales assistido por ordenador para avaluar cuantitativamente de manera automatizada marcadores específicos de subpoblaciones celulares tumorales y de respuesta inmune con tinciones inmunohistoquímicas i de fluorescencia.
                </li>
                <li class="list-group-item">
                    Avaluación de patrones de marcadores celulares oncológicos, de respuesa inmune y de supervivencia den cáncer de mama.
                </li>
            </ul>

        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>