<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sobre el grupo</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
            <h3 class="panel-heading about-heading">Missions</h3>
            <div class="panel-body">
                <p>The research group in Oncological Pathology and Bioinformatics is a specific platform for research activities directly related to two main objectives: </p>

                <ul class="list-group">
                    <li class="list-group-item">
                        Identifying patterns of immune response and etiological factors, pathophysiologic and prognostic models linked to progression of neoplasms.
                    </li>
                    <li class="list-group-item">
                        Developing and perfecting new computer media for computer-aided image analysis to enable more precise and reproducible automatic quantification of these cell markers.
                    </li>
                </ul>

                <p>The level of involvement of these patterns in tumour leakage mechanisms and in therapeutic usefulness are being assessed, as is the description of the oncogenic patterns involved in the development of these neoplasms. </p>

                <p>
                    These objectives can help understand the biological mechanisms involved in resistance to chemotherapy and to obtain new therapeutic targets capable of intervention, as well as establishing new key factors in the diagnosis, prognosis and treatment of these patients.
                </p>
            </div>
    </div>

    <div class="panel panel-default" id="liniesrecerca">
        <h3 class="panel-heading about-heading">Research lines</h3>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item">
                    Study of reactive lymphoid cellularity and the immune response in lymphoproliferative syndromes. Study of the prognostic implications and tumour leakage mechanisms.
                </li>
                <li class="list-group-item">
                    Oncogenic potential of viruses in lymphomas: analysis of the expression of cellular virus with oncogenic potential in lymphoma biopsies and to correlate serum.
                </li>
                <li class="list-group-item">
                    Morphometry and information technology: development pattern analysis of digital images for computer-assisted automated quantitative evaluation of specific markers of tumor cell subpopulations and immune response by immunohistochemical staining and fluorescence.
                </li>
                <li class="list-group-item">
                    Evaluation of patterns of cellular cancer markers, immune response and survival in breast cancer.
                </li>
            </ul>

        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>