<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ofertas de trabajo</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="includeNavbar"></div>

<div class="container">

    <div class="panel panel-default" id="primer">
        <h3 class="panel-heading about-heading">Oferta</h3>
        <div class="panel-body">
            <div class="row" id="job-row">
                <div class="col-lg-12">
                    <h2 class="job-title">LUGAR DE TRABAJO</h2>
                    <p>Candidato/a para solicitud de ayuda Marie Sklodowska Curie para el grupo de Patología Oncológica y Bioinformática del Institut d'Investigació Sanitària Pere i Virgili (en el Hospital de Tortosa Verge de la Cinta).</p>
                    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">TAREAS</h2>
                    <p>Investigación biomédica mediante análisis de imagen digital del microambiente tumoral en pacientes con cáncer de mama, para encontrar patrones de respuesta inmune asociados a la supervivencia, recaida y a la respuesta al tratamiento en pacientes.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">PERFIL</h2>
                    <p>Buscamos dos tipos de perfiles diferentes:</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Licenciado o Grado en Ciencias de la Vida con experiencia en el estudio de la respuesta inmune en cáncer.
                        </li>
                        <li class="list-group-item">
                            Ingeniero con experiencia en el análisis de imagenes biomédicas, especialmente con conocimientos de Machine Learning o Deep Learning.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">REQUISITOS</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Estar en posesión del titulo de doctorado.
                        </li>
                        <li class="list-group-item">
                            No haber residido más de 12 meses en España durante los últimos 3 años.
                        </li>
                        <li class="list-group-item">
                            Buen nivel de inglés.
                        </li>
                        <li class="list-group-item">
                            Capacidad de escritura de proyectos y de articulos científicos.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">SE VALORARÁ</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Capacidad de trabajar en equipo y buena predisposición.
                        </li>
                        <li class="list-group-item">
                            Disposición para viajar.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">CONDICIONES LABORALES</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Contracto de 12 a 24 meses.
                        </li>
                        <li class="list-group-item">
                            Jornada Completa.
                        </li>
                    </ul>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2 class="job-title">ENVIAR CV A/e</h2>
                    <p>Dr. Carlos López Pablo</p>
                    <a href="mailto:#">clopezp.ebre.ics@gencat.cat</a>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>

    <div id="includeFooter"></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/includes.js"></script>
</body>
</html>