.carousel-inner > .item > #primera-imatge {
    /* background: url("/assets/img/leujene_editora_8_19_1_resized.jpg"); */
    content: url("/assets/img/foto03_750.JPG");
}

@media (min-width: 1000px){
    .carousel-inner > .item > #primera-imatge {
        /* background: url("/assets/img/leujene_editora_8_19_1_resized.jpg"); */
        content: url("/assets/img/foto03_1000.JPG");
    }
}

@media (min-width: 1200px){
    .carousel-inner > .item > #primera-imatge {
        /* background: url("/assets/img/leujene_editora_8_19_1_resized.jpg"); */
        content: url("/assets/img/foto03_1200x500.JPG");
    }
}

@media (min-width: 1400px){
    .carousel-inner > .item > #primera-imatge {
        /* background: url("/assets/img/leujene_editora_8_19_1_resized.jpg"); */
        content: url("/assets/img/foto03_1400.JPG");
    }
}

.panel-body {
    background-color: white;
}

#primer {
    margin-top: 100px;
    /*box-shadow: 0 0 1em 1em #ccc;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 56px;
    line-height: 80px;
}

p, div {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

body {
    background: url(/assets/img/crossword.png) repeat 0 0;
}

.list-group-item:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: black; /* Or a color you prefer */
}

.navbar-inverse {
    background-color: #C7D7ED;
}

.navbar-inverse .navbar-nav > li > a , .navbar-inverse .navbar-header > a{
    color: black;
    font-family: 'Molengo', Georgia, Times, serif;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color:black;
    background-color:white;
}

.navbar-inverse .navbar-header > a:hover {
    color: grey;
}

.list-group > li {
    border: 0 none;
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

.projecte {
    font-size: 20px;
    line-height: normal;
}

.publicacio:before {
    content: "";
    padding-right: 0;
}

.publicacio > .fort {
    font-weight: bold;
}

.publicacio > .cursiva {
    font-style: italic;
}

a {
    color: black;
}

.cat > li > #home span {
    display: none;
}

.cat > li > #home:after {
    content: 'Principal';
}

.cat > li > #group span {
    display: none;
}

.cat > li > #group:after {
    content: 'Grup';
}

.cat > li > #projects span {
    display: none;
}

.cat > li > #projects:after {
    content: 'Projectes';
}

.cat > li > ul > li > #publications span {
    display: none;
}

.cat > li > ul > li > #publications:after {
    content: 'Publicacions';
}

.cat > li > ul > li > #conferences span {
    display: none;
}

.cat > li > ul > li > #conferences:after {
    content: 'Conferències';
}

.cat > li > #pub-research #pubres {
    display: none;
}

.cat > li > #pub-research:before {
    content: 'Recerca';
}

.cat > li > #contacts span {
    display: none;
}

.cat > li > #contacts:after {
    content: 'Contacte';
}

.cat > li > #languages #landspan {
    display: none;
}

.cat > li > #languages:before {
    content: 'Idiomes';
}

#informacio {
    width: 70%;
    margin: 0 auto;
}

.about-heading{
    font-size: 32px;
    line-height: 50px;
}

h5 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.media-video {
    text-align: center;
}

iframe {
    margin: 0 auto;
}

.es > li > #home span {
    display: none;
}

.es > li > #home:after {
    content: 'Principal';
}

.es > li > #group span {
    display: none;
}

.es > li > #group:after {
    content: 'Grupo';
}

.es > li > #projects span {
    display: none;
}

.es > li > #projects:after {
    content: 'Proyectos';
}

.es > li > ul > li > #publications span {
    display: none;
}

.es > li > ul > li > #publications:after {
    content: 'Publicaciones';
}

.es > li > ul > li > #conferences span {
    display: none;
}

.es > li > ul > li > #conferences:after {
    content: 'Conferencias';
}

.es > li > #pub-research #pubres {
    display: none;
}

.es > li > #pub-research:before {
    content: 'Investigación';
}

.es > li > #contacts span {
    display: none;
}

.es > li > #contacts:after {
    content: 'Contactos';
}

.es > li > #languages #landspan {
    display: none;
}

.es > li > #languages:before {
    content: 'Idiomas';
}

.panel-heading{
    margin:0;
}

.about-name {
    font-size: 30px;
}

.top-buffer {
    margin-top:50px;
}

.btn, .btn:hover {
    background-color: darkslategrey;
}
.carousel-caption p {
    text-align: center;
}